<% @page_title='（3）' %>
<% form_for user_true_portrait_path(@user,@true_portrait),:url => { :action => "create" }, :html => { :multipart => true } do |f| %>
  <p>上传一个图片，这将作为你真实朋友找到你的依据，请不要有所顾忌，只有你的好朋友才能够看到它：
  <%= f.file_field :image_file %>
  </p>
  <p>或者提供一个图片链接:
  <%= f.text_field :image_file_url %></p>
  <p><%= f.hidden_field :image_file_temp %></p>
  <p>（不设置将使用默认头像）<p>
  <p>
    <%= f.submit "完成"%>
  </p>
  <p>
    <b>图片预览：</b>
    <%= embedded_image_tag(@true_portrait.operate { |img| img.resize 200 }) if @true_portrait.has_image? %>
  </p>

<% end %>
