<% form_tag session_path do -%>
  <p id="login_email"><%= label_tag 'email','登录邮箱名'%><br />
  <%= text_field_tag 'email', @login %></p>

  <p id="login_password"><%= label_tag 'password','密码'%><br/>
  <%= password_field_tag 'password', nil%></p>


  <div><p> <%= check_box_tag 'remember_me', '1', @remember_me %>
      <%= label_tag 'remember_me', '在这台电脑上记住我' %>
    </p>

  <p><%= submit_tag '登录',:id=>:login_button %></p></div>
<% end -%>
