<%@page_title='( Mikl.me )'%>

<body>
  <div id="header">
    <div id="logo"></div><div id="login">
      <p> <% form_tag session_path do -%>
          <%= label_tag 'username','用户名'%>
          <%= text_field_tag 'username',params[:username] %>
          <%= label_tag 'password','密码'%>
          <%= password_field_tag 'password',params[:password]%></p>
        <p> <%= check_box_tag 'remember_me', '1', @remember_me %>
          <%= label_tag 'remember_me', '在这台电脑上记住我' %>
        </p>
        <p><%= submit_tag '  进入Michael  ' %></p>
      <% end -%>
    </div>
  </div>
  <div id="main">
    <div id="fixed">
      <div id="content">
        <%if logged_in? -%>
          <%= link_to '登出', logout_path %>
        <%end%>
        <%if flash[:notice]%>
          <p id="registered_notice"><%=flash[:notice]%></p>
        <%end%>
        <%if flash[:error]%>
          <p id="registered_notice"><%=flash[:error]%></p>
        <%end%>
        <div id="text">
          <h1>论战</h1>
          <p>我们一定都有这样的经历：对于某一件事情，周围大多数人完全和自己意见相反，你却坚持认为自己是对的。
            譬如：你坚持认为曾亦可的歌声美妙，你总是在想周围的人政治觉悟不高，别人总不承认功夫网的存在，朋友们总很无聊...
          </p>
          <p>
            你被孤立起来了，你的话再没有人听，你做事再也没有人管...快些在浏览器栏里输入mikl.me，让Mikl.me救赎你。
          </p>
          <p>如果你说你没有遇到这种情况，你总是和别人意见相似，那么请问，你还活着干嘛。</p>
          <p>在这里，你可以做的事情是：向别人展示你在某一方面看法的正确性，并与各种不同的思想碰撞。Mikl.me是一个良性的、诙谐的的辩论舞台，在这里我们欢迎各种不同意见的交锋。
          谢绝人身攻击。（当然请尽量避开敏感话题，并不是只有敏感话题才会引发争论）</p>
          <p>
            话题可以是调侃的，搞笑的，或是学术性的、认真严肃的。老愤青小愤青们，意见领袖们，独行侠们，语言艺术家们，都来吧。
          </p>
          <p>
            在论战之时，你拥有一些"技能"。</p>
          <h1>武林盟主</h1>
          <p>
            如果你的观点受到认可，或者有很多人关注你，你就可以在一个领域内可以建立声望，随着声望的提高，你的威力也逐渐增强（表现为经验值不断提高）——
           不同的威力会不同程度削弱他的言论的影响力。你还可以使用你自己发明的技能——如：黑虎掏其心，直捣其黄龙，鞭挞其灵魂，侮辱其人格，等等等等，
           当然，不同时期威力不同，你的经验值代表了你的威力。
          </p>
          <p>
            那么，你是要
            <%= link_to ">注册新用户<",new_user_path %>呢，还是要 <%= link_to ">随便逛逛<",keyword_pages_path %>？
          </p>
        </div>

      </div>
      <!-- footer -->
      <%=render :partial=>'shared/footer'%>
      <!-- end footer -->
    </div>
  </div>
  <!-- end main -->

</body>