<%@page_title='( Mikl.me )'%>

<body>
  <div id="header">
    <div id="logo"></div><div id="login">
      <p> <% form_tag session_path do -%>
          <%= label_tag 'username','用户名'%>
          <%= text_field_tag 'username',params[:username] %>
          <%= label_tag 'password','密码'%>
          <%= password_field_tag 'password',params[:password]%></p>
        <p> <%= check_box_tag 'remember_me', '1', @remember_me %>
          <%= label_tag 'remember_me', '在这台电脑上记住我' %>
        </p>
        <p><%= submit_tag '  进入Michael  ' %></p>
      <% end -%>
    </div>
  </div>
  <div id="main">
    <div id="fixed">
      <div id="content">
        <%if logged_in? -%>
          <%= link_to '登出', logout_path %>
        <%end%>
        <%if flash[:notice]%>
          <p id="registered_notice"><%=flash[:notice]%></p>
        <%end%>
        <%if flash[:error]%>
          <p id="registered_notice"><%=flash[:error]%></p>
        <%end%>
        <div id="text">
          <h1>你在想什么？</h1>
          <p>
            Mikl.me是一个汇集所有优秀想法的平台。在这个平台上所有用户都在回答一个问题：你在想什么？
          </p>
          <p>呃...等等，你肯定想知道，这和微博客有什么不同？</p>
          <p>Mikl.me要告诉你的是，他根本不屑模仿。</p>
          <p>
            Mikl.me提供了一种全新的信息检索机制，用以发掘有价值的想法和信息——他能够智能地判断这一想法的价值几何，并把无意义的琐碎的想法剔除掉，进而让你看到世界上究竟存在哪些真正卓越的想法。
          </p>
          <p>
            你的想法越有价值，声望越高，你的想法就会越靠前排布。
          </p>
          <h1>论战</h1>
          <p>在有关同一话题的讨论中，人们一定会产生想法的碰撞。Mikl.me同时是一个良性的、诙谐的的辩论舞台，在这里我们欢迎各种不同思想的交锋。
            谢绝人身攻击。（当然请尽量避开敏感话题，并不是只有敏感话题才会引发争论）</p>
          <p>
            在进行思想的交锋之时，你甚至拥有一些"技能"。</p>
          <p>
            随着声望的提高，你的威力也逐渐增强——你可以提高或降低对方的声望。你还可以使用你自己发明的技能——如：黑虎掏其心，直捣其黄龙，鞭挞其灵魂，侮辱其人格，等等等等，和别人进行有趣的互动。
          </p>
          <p>
            那么，你是要
            <%= link_to ">注册新用户<",new_user_path %>呢，还是要 <%= link_to ">随便逛逛<",keyword_pages_path %>？
          </p>
        </div>

      </div>
      <!-- footer -->
      <%=render :partial=>'shared/footer'%>
      <!-- end footer -->
    </div>
  </div>
  <!-- end main -->

</body>