<%@page_title='( Mikl.me )'%>

<body>
  <div id="header">
    <div id="logo"></div><div id="login">
      <p> <% form_tag session_path do -%>
          <%= label_tag 'username','用户名'%>
          <%= text_field_tag 'username',params[:username] %>
          <%= label_tag 'password','密码'%>
          <%= password_field_tag 'password',params[:password]%></p>
        <p> <%= check_box_tag 'remember_me', '1', @remember_me %>
          <%= label_tag 'remember_me', '在这台电脑上记住我' %>
        </p>
        <p><%= submit_tag '  进入Michael  ' %></p>
      <% end -%>
    </div>
  </div>
  <div id="main">
    <div id="fixed">
      <div id="content">
        <%if logged_in? -%>
          <%= link_to '登出', logout_path %>
        <%end%>
        <%if flash[:notice]%>
          <p id="registered_notice"><%=flash[:notice]%></p>
        <%end%>
        <%if flash[:error]%>
          <p id="registered_notice"><%=flash[:error]%></p>
        <%end%>
        <div id="text">
          <h1>1</h1>
          <p>我们一定都有这样的经历：周围大多数人对于某件事完全和自己意见相反，并且你还坚持认为自己是对的...
            比方说，你就是喜欢听曾亦可的歌，你就是坚持认为自己的人生比别人彪悍，有些人也就是不承认功夫网的存在...
          </p>
          <p>
            于是你被孤立起来，你的话再没有人听，你做事再也没有人管...这种状况简而言之，就叫做：悲剧。
          </p>
          <p>如果你说你没有遇到这种情况，你总是和别人看法相若，那么请问...你还活着干嘛。</p>
          <p>在这里，你可以做的事情是：向别人展示你在某一领域内看法的正确性，并与各种不同的思想碰撞。Mikl.me是一个良性的、诙谐的的辩论舞台，在这里我们欢迎各种不同意见的交锋。
          谢绝人身攻击。（当然请尽量避开敏感话题，并不是只有敏感话题才会引发辩论）</p>
          <p>
            话题可以是调侃的，搞笑的，或是学术性的、认真严肃的。老愤青小愤青们，意见领袖们，独行侠们，语言艺术家们，都来吧。
          </p>
          <p>
            在论战之时，你拥有一些"技能"。</p>
          <h1>2</h1>
          <p>
            如果你的观点受到认可，或者有很多人关注你，你就可以在一个领域内可以建立声望，随着声望的提高，你的威力也逐渐增强（表现为价值点数不断提高）——
           不同的威力会不同程度削弱他的言论的影响力。你还可以使用你自己发明的技能——如：轻抚其额头，赞许其行为，发扬其品格，鞭挞其灵魂，侮辱其人格，黑虎掏其心，直捣其黄龙等等等等，
           当然，不同时期威力不同，你的价值点数代表了你的威力。
          </p>
          <p>
            那么，你是要
            <%= link_to ">注册新用户<",new_user_path %>呢，还是要 <%= link_to ">随便逛逛<",keyword_pages_path %>？
          </p>
        </div>

      </div>
      <!-- footer -->
      <%=render :partial=>'shared/footer'%>
      <!-- end footer -->
    </div>
  </div>
  <!-- end main -->

</body>