<%@page_title='( Mikl.me )'%>

<body>
  <div id="header">
    <div id="logo"></div><div id="login">
      <p> <% form_tag session_path do -%>
          <%= label_tag 'username','用户名'%>
          <%= text_field_tag 'username',params[:username] %>
          <%= label_tag 'password','密码'%>
          <%= password_field_tag 'password',params[:password]%></p>
        <p> <%= check_box_tag 'remember_me', '1', @remember_me %>
          <%= label_tag 'remember_me', '在这台电脑上记住我' %>
        </p>
        <p><%= submit_tag '  进入Michael  ' %></p>
      <% end -%>
    </div>
  </div>
  <div id="main">
    <div id="fixed">
      <div id="content">
        <%if logged_in? -%>
          <%= link_to '登出', logout_path %>
        <%end%>
        <%if flash[:notice]%>
          <p id="registered_notice"><%=flash[:notice]%></p>
        <%end%>
        <%if flash[:error]%>
          <p id="registered_notice"><%=flash[:error]%></p>
        <%end%>
        <div id="text">
          <h1>1</h1>
          <p>你就这样来到了Mikl.me。</p>
          <p>Mikl.me本身并不需要你的捧场，或者是想方设法引诱你注册，Mikl.me只是来告诉你，你需要这样一个玩意。</p>
          <h1>2</h1>
          <p>

          </p>
          <p>
            那么，你是要
            <%= link_to ">注册新用户<",new_user_path %>呢，还是要 <%= link_to ">随便逛逛<",new_searched_keyword_path %>？
          </p>
        </div>

      </div>
      <!-- footer -->
      <%=render :partial=>'shared/footer'%>
      <!-- end footer -->
    </div>
  </div>
  <!-- end main -->

</body>