<%@page_title='( Mikl.me )'%>

<body>
  <div id="header">
    <div id="logo"></div><div id="login">
      <p> <% form_tag session_path do -%>
          <%= label_tag 'username','用户名'%>
          <%= text_field_tag 'username',params[:username] %>
          <%= label_tag 'password','密码'%>
          <%= password_field_tag 'password',params[:password]%></p>
        <p> <%= check_box_tag 'remember_me', '1', @remember_me %>
          <%= label_tag 'remember_me', '在这台电脑上记住我' %>
        </p>
        <p><%= submit_tag '  进入Michael  ' %></p>
      <% end -%>
    </div>
  </div>
  <div id="main">
    <div id="content">
      <%if logged_in? -%>
        <%= link_to '登出', logout_path %>
      <%end%>
      <%if flash[:notice]%>
        <p id="registered_notice"><%=flash[:notice]%></p>
      <%end%>
      <%if flash[:error]%>
        <p id="registered_notice"><%=flash[:error]%></p>
      <%end%>
      <div id="text">
        <h1>时代</h1>
        <p>你可以管Michael，或是Mikl.me叫做搜索引擎，当然，事情并不仅仅是这样。</p>
        <p>
          当所有人都可成为信息的源头，我们迎来了Web2.0。
          但一些问题随之而来——信息的爆炸使得我们不能选择性的接受需要的信息，我们也无法预测哪些信息会得到迅速的传播——我们仅可控制信息的内容，却乏力控制信息的传播。
        </p>
        <p>在Mikl.me上，你可以汇聚自己的一切网络行为，别人对于你行为的评价，决定了你传播信息能力的强弱——其中一个体现在在于你的信息排位。
        </p>
        <p>
          当突破扁平化的信息传播方式，使个体传播信息能力差异得到体现之时，就将产生新的时代。Mikl.me于此时诞生
        </p>
        <p>于是新的时代便产生了....哈哈。</p>
        <h1>基于价值的搜索引擎</h1>
        <p>如果你对某些问题有独到见解，又苦于无力传播自己的思想，Michael的价值排序功能会帮你一把。</p>
        <p>如果你自己定义的关键词（Michael的特性）包含你朋友的名字，那么当你的朋友搜索自己的名字之时，有趣的事情将会发生。</p>
        <p>Michael不仅仅是个搜索引擎。事实是，他更是一个个人意见传播平台——你可以控制搜索者的搜索行为，使自己犹如在现实中一般，成为另一个世界话语权的拥有者，意见领袖。</p>
        <h1>革命</h1>
        <p>我们深晓Michael的架构及理念，并不断对<strong>他</strong>完善，
          以期促成一场革命。</p><span>Mikl.me,源自2009.08.24。</span>
        <p>无限精彩，尽请体验 </p>
        <div>
          <%= link_to '>注册新用户<' ,new_user_path%>
        </div>
      </div>

    </div>
    <!-- footer -->
    <%=render :partial=>'shared/footer'%>
    <!-- end footer -->
  </div>
  <!-- end main -->

</body>