<%@page_title='( Mikl.me )'%>

<body>
  <div id="header">
    <div id="logo"></div><div id="login">
      <p> <% form_tag session_path do -%>
          <%= label_tag 'username','用户名'%>
          <%= text_field_tag 'username',params[:username] %>
          <%= label_tag 'password','密码'%>
          <%= password_field_tag 'password',params[:password]%></p>
        <p> <%= check_box_tag 'remember_me', '1', @remember_me %>
          <%= label_tag 'remember_me', '在这台电脑上记住我' %>
        </p>
        <p><%= submit_tag '  进入Michael  ' %></p>
      <% end -%>
    </div>
  </div>
  <div id="main">
    <div id="fixed">
      <div id="content">
        <%if logged_in? -%>
          <%= link_to '登出', logout_path %>
        <%end%>
        <%if flash[:notice]%>
          <p id="registered_notice"><%=flash[:notice]%></p>
        <%end%>
        <%if flash[:error]%>
          <p id="registered_notice"><%=flash[:error]%></p>
        <%end%>
        <div id="text">
          <h1>1</h1>
          <p>呵呵...幸好你来到了Mikl.me，否则你的生命将会少点什么。</p>
          <p>我们一定都有这样的经历：周围大多数人对于某件事完全和自己意见相反，并且你还坚持认为自己是对的...
            比方说，你就是喜欢听曾亦可的歌，你就是坚持认为自己的人生比别人彪悍，你就是觉得其他人都是在浪费生命，别人也就是不承认
            功夫网的存在。
            于是你被孤立起来，你的话再没有人听，你做事再也没有人管...这种状况简而言之，就叫做：悲剧。
          </p>
          <p>如果你说你没有遇到这种情况，你和别人看法总是相若，那么请问...你还活着干嘛。</p>
          <p>在这里，你可以做的事情是：向别人展示你在某一领域内看法的正确性，体验一下以一敌百的感觉。Mikl.me是一个良性的、诙谐的、游戏性的辩论舞台。
            话题可以是调侃的，抑或严肃的，并谢绝人身攻击。作为话题的发起者，你拥有一些"技能"。</p>
          <h1>2</h1>
          <p>
            如果你的观点受到认可，或者有很多人关注你，你就可以在一个领域内可以建立声望，随着声望的提高，你会获得更强的技能——从最初级的"戳他一下","给一拳"一直到高级的"侮辱其人格",
            "折磨其意志"——不同的威力会不同程度削弱他的言论的影响力。
          </p>
          <p>
            那么，你是要
            <%= link_to ">注册新用户<",new_user_path %>呢，还是要 <%= link_to ">随便逛逛<",keyword_pages_path %>？
          </p>
        </div>

      </div>
      <!-- footer -->
      <%=render :partial=>'shared/footer'%>
      <!-- end footer -->
    </div>
  </div>
  <!-- end main -->

</body>