<%@page_title='( Michael )'%>
<div id="header">
  <div id="logo"></div>
  <div id="login">
    <p> <% form_tag session_path do -%>
        <%= label_tag 'username','用户名'%>
        <%= text_field_tag 'username',params[:username] %>
        <%= label_tag 'password','密码'%>
        <%= password_field_tag 'password',params[:password]%></p>
      <p> <%= check_box_tag 'remember_me', '1', @remember_me %>
        <%= label_tag 'remember_me', '在这台电脑上记住我' %>
      </p>
      <p><%= submit_tag '  进入Michael  ' %></p>
    <% end -%>
    <p></p>
  </div>
</div>
<div id="main">
  <div id="fixed">
    <div id="content">
      <%if flash[:notice]%>
        <p id="registered_notice"><%=flash[:notice]%></p>
      <%end%>
      <%if flash[:error]%>
        <p id="registered_notice"><%=flash[:error]%></p>
      <%end%>
      <div id="text">
        <h1>不一样的贴吧</h1>
        <p>
          Michael(<strong>迈可</strong>)是一个神奇的贴吧，他能够在人们参与讨论的时候，判断出人群当中客观事实上的意见领袖。
        </p>
        <p>
          此外你还可以关注你的好友，这样你会发现你的朋友不被你知道的优秀的一面。
        </p>
        <p>在这里，你也可以容易地与在某方面具有卓越想法的人们，某方面的意见领袖，以及你的朋友们互动。</p>
        <p>
          试一下，你就会相信。
        </p>
        <h1>2</h1>
        <p>
          <%= link_to ">注册新用户<",new_user_path %>  <%= link_to ">随便逛逛<",keyword_pages_path %>
        </p>
      </div>

    </div>
    <!-- footer -->
    <%=render :partial=>'shared/footer'%>
    <!-- end footer -->
  </div>
</div>
<!-- end main -->

