<% x="form" %>
<table class="item" cellspacing="12" id="<%=x%>" >
  <tr>
    <td width="60px">
      <%= render :partial => "shared/field_profile",:locals => {:user => current_user,:keyword_page => @resource.keyword_page} %>
    </td>
    <td width="520px">
      <p><%  remote_form_for  ([@replied_comment]),:url => { :controller => :replied_comments,:action => "create",:resource_id => @resource,:comment_id => @comment } do |f| %>
        <div class="item_pink">
          <p>玩一下，给你的动作取个名字<span class="sb_meta">（如：侮辱其人格，断其一指等等）</span>
          </p>
          <p>
            <%=f.text_field :action_one,:size => 4%>其 <%= f.text_field :action_two,:size => 4 %>
          </p>
        </div>
        <div class="comment_blank">
          <p>
            <% if !@comment.commenters.include?(current_user) %>
              <%=f.radio_button :rating,1 %>
              <cite>赞赏
              </cite>
              <%=f.radio_button :rating,0%>
              不表态
              <%=f.radio_button :rating,-1%>
              <strong>pia飞
              </strong>
            <% else %>
              <span class="grey">你已经表态过了</span>
            <% end %>
            <%= f.text_area :content,:size => "48x3"%>
          </p>
        </div>
        <p>
          <%= f.submit '就这样'%>
        </p>
      <% end %>
      </p>
    </td>
  </tr>
</table>