<% x="form" %>
<table class="qiantao" cellspacing="12" id="<%=x%>" >
  <tr>
    <td width="60px">
      <%= render :partial => "shared/field_profile",:locals => {:user => current_user,:keyword_page => @resource.keyword_page} %>
    </td>
    <td class="td_content">
      <p><%  remote_form_for  ([@replied_comment]),:url => { :controller => :replied_comments,:action => "create",:resource_id => @resource,:comment_id => @comment } do |f| %>
        <div class="item_pink">
          <div>给你的动作取个名字<span class="sb_meta">（如：侮辱其人格，断其一指等等）</span>
          </div>
          <div>
            <%=f.text_field :action_one,:size => 4%>其 <%= f.text_field :action_two,:size => 4 %>
          </div>
        </div>
        <div class="comment_blank">
          <% if !@comment.commenters.include?(current_user) %>
            <div>
              <%=f.radio_button :rating,1 %>
              <%= support(@comment.owner) %>
              <%=f.radio_button :rating,0%>
              <span class="grey">不表态</span>
              <%=f.radio_button :rating,-1%>
              <%= attack(@comment.owner) %>
            </div>
          <% else %>
            <div class="grey">你已经表态过了</div>
          <% end %>
          <%= f.text_area :content,:size => "48x2"%>
          </p>
        </div>
        <p>
          <%= f.submit '就这样'%>
        </p>
      <% end %>
      </p>
    </td>
  </tr>
</table>