<div id="item">
  <div>
    <h1><%= link_to comment.owner.nick_name,user_path(comment.owner) %></h1>
    <span>价值点数：<%= comment.owner.value %></span>
    <div id="descr"><%=comment.created_at.advance(:hours => 8).to_s(:db)  %></div>
  </div>
  <p><%= h comment.content  %></p>
  <span><%= link_to "回应该用户",new_user_link_url_resource_comment_replied_comment_path(@user,@resource,comment),:popup => ['你的回应...', 'height=300,width=600']  %></span>
  <div id="replied_comments">
    <% for replied_comment in comment.replied_comments %>
      <%= render :partial  => "comment",:object => replied_comment %>
<% end %>
  </div>
</div>