
<% x="comment_#{comment.id}" %>
<% y="comments_for_#{comment.id}" %>
<table class="qiantao" cellspacing="12" id="<%=x%>">
  <tr>
    <td width="60px">
      <%= render :partial => "shared/field_profile",:locals => {:user => comment.owner,:keyword_page => comment.resource.keyword_page} %>
    </td>
    <td width="520px">
      <p>
      <%=h comment.content  %></p>
      <div class="sb_meta">
        <%= comment_action(comment) %>
        <%=distance_of_time_in_words(Time.now, comment.created_at, false) %>
      </div>
      <span><%=link_to_reply_path(comment)%></span>
      <div id="<%=y%>">
        <% for replied_comment in comment.comments %>
          <%= render :partial  => "comment",:object => replied_comment %>
        <% end %>
      </div>
    </td>
  </tr>
</table>