<% form_for  ([form.resource.owner,:resource,form]) do |f| %>
  <div class="item_pink">
    <%= f.error_messages %>
    <% if !form.resource.commenters.include?(current_user) and form.resource.owner.last_ip!=current_user.last_ip%>
      <p>
        <%=f.radio_button :rating,-1%>
        <strong>消灭此人
        </strong>
        <em><%= link_to_remote "(#{comment_value(form.resource.keyword_page)}伤害)",:url => {:controller => :keyword_pages,:action => :show_hidden}%>
        <%=f.radio_button :rating,0%></em>
        不表态
        <%=f.radio_button :rating,1 %>
        <cite>赞成此人
        </cite>
        <em><%= link_to_remote "(#{comment_value(form.resource.keyword_page)}加成)",:url => {:controller => :keyword_pages,:action => :show_hidden}%>
        </em>
      </p>
      <cite id="hidden" style="display:none">给别人伤害／加成的数值和你自己的声望成正比。</cite>
    <% end %>

    <p>给你的招式取个名字，句式：v.+"其"+n. <span class="sb_meta">（如：侮辱其人格，断其一指等等）</span>
    </p>
    <p>
      <%=f.text_field :action_one,:size => 4%>其 <%= f.text_field :action_two,:size => 4 %>
    </p>
  </div>

  回应内容
  <p>
    <%= f.text_area :content,:size => "48x4"%>
  </p>
  <p>
    <%= f.submit '就这样'%>
  </p>
<% end %>