<div id="container">
  <div id="main">
    <div id="header">
      <div id="title"><h1>
          <%= @resource.title or @resource.keywords %>
        </h1></div>
      <div id="menu">
        <%= link_to ".Me",user_path(@user) %>
        <% if current_user.id=@user.id %>
          <%= link_to "Michael猜你" %>
          <%= link_to "关系网络" %>
          <%= link_to "我的关键字",user_keywords_path(@user) %>
        <% else %>
          <%= link_to "#{@user.nick_name}的关系网络" %>
          <%= link_to "#{@user.nick_name}的关键字",user_keywords_path(@user) %>
        <% end %>
        <%= link_to "设置" %>
        <%= link_to '注册新用户',new_user_path %>
        <%= link_to '登出', session_path,:method => :delete %>
      </div>
    </div>
    <div id="sidenav">
      <h2>评论排序方式</h2>
      <ul>
        <li><%= link_to "用户价值点数" %></li>
        <li><%= link_to "时间" %></li>
      </ul>
    </div>
    <div id="content">
      <% for comment in @comments %>
        <div id="item">
          <h1><%= h comment.owner.nick_name %></h1>
          <div id="descr"><%=comment.created_at  %></div>
          <p><%= h comment.content  %></p>
        </div>
      <% end %>
      <div id="item">
        <% form_for([@user,@resource,@comment]) do |f| %>
          <%= f.error_messages %>
          <p>
            <%= f.label :content,"发表评论：" %><br />
            <%= f.text_area :content,:size => '30*20' %>
          </p>
          <p>
            <%= f.submit '就这样' %>
          </p>
        <% end %>
      </div>
    </div>
    <div id="clearer"><span></span></div>
  </div>
</div>
<%= render :partial => "shared/footer" %>

