<div class="top">
<table>
  <tbody>
    <tr>
      <td width="80"><%= render :partial => "shared/field_profile",:locals => {:user => @resource.owner,:keyword_page => @resource.keyword_page}%>
      </td>
      <td width="500">
        <cite><%= @resource.created_at_s %></cite>
        <<table cellspacing="0" cellpadding="0" border="0" ><tbody>
    <tr>
      <td width="40" height="30" class="lt"/><td height="30" class="ct"/><td width="40" height="30" class="rt"/></tr>
    <tr><td width="40" valign="top" class="lm"><%= image_tag "td_arrow.gif"%></td><td valign="top" class="origin"> 
        <%= variable_content(@resource)%>

        <p>
        <%= link_to_origin(@resource) %> </p>
      </td><td width="40" class="rm"/></tr>
    <tr><td width="40" height="20" class="lb"/><td height="20" class="cb"/><td width="40" height="20" class="rb"/></tr></tbody></table>
      </td>
      <td width="100">
      </td>
    </tr>
    <tr><td></td><td>
      </td></tr>
  </tbody>
</table>
<% if logged_in? %>
  <table class="qiantao" cellspacing="12">
    <tr>
      <td width="60px">
        <%= render :partial => "shared/field_profile",:locals => {:user => current_user,:keyword_page => @resource.keyword_page}%>
      </td>
      <td class="td_content">
        <%= render :partial => "form",:object => @comment %>
      </td>
    </tr>
  </table>
<% end %>

<% for comment in @comments %>
  <%= render :partial => "comment",:object => comment %>
<% end %>
</div>

