<%@something=@resource.description%>
  <% for comment in @comments %>
    <%= render :partial => "comment",:object => comment %>
  <% end %>
  <table class="item" cellspacing="5">
    <tr>
      <td width="60">
        <%= render :partial => "shared/user_profile",:object => current_user %>
      </td>
      <td width="520">
        <% form_for([@user,@resource,@comment]) do |f| %>
          <%= f.error_messages %>
          <p>
            <%= f.text_area :content,:size => "48x4"%>
          </p>
          <p>
            <%= f.submit '就这样' %>
          </p>
        <% end %>
      </td>
    </tr>
  </table>

