<table>
  <tbody>
    <tr>
      <td width="80"><%= render :partial => "shared/field_profile",:locals => {:user => @resource.owner,:keyword_page => @resource.keyword_page}%>
      </td>
      <td width="500">
        <cite><%= @resource.created_at_s %></cite>
        <%= render :partial => "resources/bubble_resource",:object => @resource %>
      </td>
      <td width="100">
      </td>
    </tr>
    <tr><td></td><td>
      </td></tr>
  </tbody>
</table>
<div class="dotted"></div>
<% if logged_in? %>
  <table class="item" cellspacing="12">
    <tr>
      <td width="60">
        <%= render :partial => "shared/field_profile",:locals => {:user => current_user,:keyword_page => @resource.keyword_page}%>
      </td>
      <td width="520">
        <%= render :partial => "form",:object => @comment %>
      </td>
    </tr>
  </table>
<% end %>

<% for comment in @comments %>
  <%= render :partial => "comment",:object => comment %>
<% end %>



