<div class="top">
<table>
  <tbody>
    <tr>
      <td width="80"><%= render :partial => "shared/field_profile",:locals => {:user => @resource.owner,:keyword_page => @resource.keyword_page}%>
      </td>
      <td width="500">
        <cite><%= @resource.created_at_s %></cite>
        <%= render :partial => "resources/resource_left",:object => @resource %>
      </td>
      <td width="100">
      </td>
    </tr>
    <tr><td></td><td>
      </td></tr>
  </tbody>
</table>
<% if logged_in? %>
  <table class="qiantao" cellspacing="12">
    <tr>
      <td width="60px">
        <%= render :partial => "shared/field_profile",:locals => {:user => current_user,:keyword_page => @resource.keyword_page}%>
      </td>
      <td class="td_content">
        <%= render :partial => "form",:object => @comment %>
      </td>
    </tr>
  </table>
<% end %>

<% for comment in @comments %>
  <%= render :partial => "comment",:object => comment %>
<% end %>
</div>

