<div id="header">
  <div id="logo"><a href="#">Mikl.me</a></div>
  <div id="menu">
    <ul>
      <li>
        <%=link_to_remote "开始",:url=>{:action=>"index"}%>
      </li>
      <li>
        <%=link_to_remote "Michael",:url=>{:action=>"michael"}%>
      </li>
      <li>
        <%=link_to_remote "我们",:url=>{:action=>"us"}%>
      </li>
    </ul>
  </div>
</div>
<!--end header -->
<!-- main -->
<div id="main">
  <div id="content">
    <div id="sidebar">
      <div id="sidebar_top"></div>
      <div id="sidebar_text">
        <h2>
          <%= link_to_remote "关于三体模型",:url=>{:action=>"about_three_body"}%>
        </h2>
        <h2>
          <%=link_to_remote "关于价值",:url=>{:action=>"about_value"}%>
        </h2>
        <h2>
          <%=link_to_remote "关于普遍的社会网络",:url=>{:action=>"about_sns"}%>
        </h2>
      </div>
      <div id="sidebar_bottom"></div>
    </div>
    <div id="text">
     <%=render :partial=>"index"%>
    </div>
      <%=render :partial=>"main_footer"%>
    </div>

  </div>
<!-- end main -->

