<h3><%= twitter_resource.keywords %></h3>
<div><%= render :partial => "shared/user_profile",:object => twitter_resource.owner %>
</div>
<%for reply in twitter_resource.replies %>
  <p><%=h reply.content %></p>
  <div><%= render :partial => "shared/user_profile",:object => reply.owner%>
  </div>
<% end %>
<p><% form_for([current_user,@reply]) do |f| %></p>
  <%= f.error_messages %>
  <%= f.text_area :content,:size => "42x3" %>
  <%= f.submit %>
<% end %>
