<table class="item">
  <tr>
    <td width="60px">
      <%= render :partial => "shared/user_profile",:object => twitter_resource.owner %>
    </td>
    <td width="520px">
      <p><%= h twitter_resource.keywords  %></p>
      <div class="sb_meta"><%=h twitter_resource.created_at.advance(:hours => 8).to_s(:db)  %></div>
      <div id="replies">
        <%= render :partial  => "replies/reply",:collection => twitter_resource.replies %>
      </div>
    </td>
  </tr>
</table>
<%= link_to "回复",new_user_twitter_resource_reply_path(twitter_resource.owner,@twitter_resource),:popup => ['新回复', 'height=180,width=490'] %>