<li>
  <table rules="rows">
    <tbody>
      <tr>
        <td width="500">
          <h3><%= link_to highlight(link_url_resource.description,link_url_resource.keywords),link_url_resource.link_url,:popup => true%></h3>
          <% for comment in link_url_resource.comments.good_comments do%>
              <p>
                <%= auto_link(highlight(truncate(comment.content,:length => 140),link_url_resource.keywords)) %>
              </p>
            <% end %>
            <ul class="sb_meta">
              <li><cite><%= link_to "#{link_url_resource.comments.size}条回应>>>", user_link_url_resource_comments_path(link_url_resource.owner,link_url_resource),:popup => true %></cite></li>
              <li><%=h link_url_resource.link_url %></li>
            </ul>
          </td>
          <td width="100">
            <% if not link_url_resource.owner == current_user %>
              <%= button_to "此条目名不副实",minus_value_user_link_url_resource_path(link_url_resource.owner,link_url_resource) %>
            <% else %>
              <div><%= link_to "编辑",edit_user_link_url_resource_path(link_url_resource.owner,link_url_resource) %>(关键字：<strong><%= link_url_resource.keywords %></strong>)
              </div>
            <% end %>
          </td>
          <td width="80"><%= render "shared/user_profile",:object => link_url_resource.owner %>
          </td>
        </tr>
      </tbody>
    </table>
  </li>
