<table rules="rows">
  <tbody>
    <tr>
      <td>
        <h3><%= link_to highlight(link_url_resource.description,link_url_resource.keywords),link_url_resource.link_url,:popup => true%></h3>
        <div>
          <% for comment in link_url_resource.comments.good_comments do%>
              <p>
                <cite>
                  <%= auto_link(highlight(truncate(comment.content,:length => 140),link_url_resource.keywords)) %>
                </cite>
              </p>
            <% end %>
          </div>
          <div><%= link_to "#{link_url_resource.comments.size}条回应>>>", user_link_url_resource_comments_path(link_url_resource.owner,link_url_resource),:popup => true %></div>
        </td>
        <td>
          <% if not link_url_resource.owner == current_user %>
            <ul>
              <li>
                <%=button_to "此条目对我有用",add_value_user_link_url_resource_path(link_url_resource.owner,link_url_resource) %>
                <span id="marked" style="display:none">该链接分享者提高了3点价值点数。</span>
              </li>
              <li>
                <%= button_to "此条目与关键字不符",minus_value_user_link_url_resource_path(link_url_resource.owner,link_url_resource) %>
              </li>
            </ul>
          <% end %>
        </td>
        <td><%= render "shared/user_profile",:object => link_url_resource.owner %>
        </td>
      </tr>
    </tbody>
  </table>