<li>
  <% form_for [@user,@link_url_resource] do |f|%>
    <strong><%= f.error_messages %>
      <%= flash[:keyword] %>
    </strong>
    <table cellspacing="5">
      <tr><td><%= f.label :link_url,"链接地址*" %></td><td><%= f.text_field :link_url %></td></tr>
      <tr><td><%= f.label :form,"请指定目标链接所包含主体内容的类型*：" %></td><td><%= f.select :form,%w{ 文字、文档 视频 图片  音频  }%></td></tr>
      <tr><td><%= f.label :description,"一句简单的描述，也就是下图中蓝字部分的内容*：" %><%= image_tag "链接描述.jpg",:size => "331x78" %></td><td><%= f.text_field :description%></td></tr>
      <tr><td><%= f.label :keywords,"用户需要输入什么才能够查找到这条链接，如图(请尽量使用下拉列表中提示的关键字以增大被检索的可能)*" %><%= image_tag "关键字.jpg",:size => "332x73" %></td><td><%= text_field_with_auto_complete :link_url_resource,:keywords,{:onfocus => "link_url_resource_keywords_auto_completer.activate()"},{} %></td></tr>
      <tr><td><%= f.check_box :authority,{},true,false %><%= f.label :authority,"链接内容是我的原创作品，如博客文章，生活照片等。（原创作品可以获得更高的价值点数评分）" %></td>

    </table>
    <p><%= f.submit "完成" %></p>
  <% end %>
</li>
