<div id="new_resource">
  <p>你分享了一个链接。</p>
  <%  form_remote_tag do%>
    <p><%=text_field_tag :link_url,flash[:link_url] %></p>
    <p><%= label_tag :title,"关于该链接的描述描述，请随意(*)：" %></p>
    <p><%= text_field_tag :title%></p>
    <p>你认为输入什么关键字会搜索到这条链接？请尽量使用提示框中的关键字或建议关键字（如果存在的话），以便更多人能够看到你的分享。</p>
    <p>关键字应简短，客观。(*)</p>
    <% if not @known_resource.blank? %>
      <p>使用建议关键字可以使更多人看到该链接,建议关键字：
        <strong> <%= @known_resource.keywords  %></strong>
      <% end %>
    <p><%= text_field_with_auto_complete :resource,:keywords%></p>
    <p><span><%= submit_tag "完成" %></span>
      <span><%= link_to "返回",user_path(current_user) %></span>
    </p>
  <% end %>
</div>