<h1>Editing keyword</h1>

<% form_for(@keyword) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @keyword %> |
<%= link_to 'Back', keywords_path %>