<body>
  <div id="header">
    <div id="logo"> <div id="login"></div>
    <%=link_to '1',new_session_path%> </div>
    <%if logged_in? -%>
      <%= link_to '登出', session_path,:method => :delete %>
    <%end%>
    <!--
   <div id="menu">
      <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">about us</a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">pricing</a></li>
        <li><a href="#">contacts</a></li>
      </ul>
    </div>
    -->
  </div>
  <!--end header -->
  <!-- main -->
  <div id="main">
    <div id="content">
      <%if flash[:notice]%>
        <p><%=flash[:notice]%></p>
      <%end%>
      <%if flash[:error]%>
        <p><%=flash[:error]%></p>
      <%end%>
      <div id="text">
        <h2>我的个人信息：</h2>
        <% form_for @user do |f|%>
          <%= f.error_messages %>
          <p><%= f.label :nick_name,'名号*'%>
            <%= f.text_field :nick_name %>
            任何人都能看到，请随意填写。</p>
          <p><%= f. label :name,'真实姓名*'%>
            <%= f.text_field :name %>
            请填写真实姓名(仅好友可见)，通过真实姓名，别人会更容易的找到你。
            <strong>此外，你将拥有这样一个个人地址：mikl.me/真实姓名。</strong>姓名不可更改。
            （当你和别人的姓名重复时，会员用户理应得到该地址）</p>
          常居地(可选)：
          <%= f.submit '就这样'%>
        <% end %>
      </div>
    </div>
    <!-- footer -->
    <%=render :partial=>'shared/footer'%>
    <!-- end footer -->
  </div>
  <!-- end main -->

</body>