<%= javascript_include_tag :defaults,:cache => true  %>
<div id="text_wide">
  <h1>我的个人信息：</h1>
  <% form_for @user do |f|%>
    <%= f.error_messages %>
    <p>我目前的"领域":  <% for k in @user.keyword_pages %>
        <strong><%=link_to k.keyword,keyword_page_path(k) %></strong>
    <% end %></p>
    <p>
      这是Mikl.me的核心，请你务必了解Mikl.me的"领域"功能。如果现在就想了解并设定自己的"领域",请点击<%= link_to_remote "管理我的领域",:url => {:action => :manage_keywords} %>
      当然也可以之后设定。
    </p>
    <div id="my_keywords" style="display:none">
      <p class="bold">"领域"功能，组织形式上相当于我们经常见到的小组功能——无论是专业的（如C++讨论小组），娱乐的（如“曾哥NC粉丝团”），
        还是其它各种各样的小组（如“TED中国”、“科幻世界杂志”、“北航xx社团”、“北京大学经济管理学院”）等等。
        区别是，<strong>你在该有关小组主题的行为（如分享资源，原创文章）将会被别人赋予价值点数评分，这样你就可以直观的明白自己在这个“领域”（小组）
          内被认可的程度与自我营销的成果。</strong></p>
      <p>现在，请选择你的“领域”，你最多可以拥有25个领域。</p>

      <p><%= link_to "添加我的领域",new_user_keyword_page_path(current_user),:popup => true %>,然后刷新这个页面</p>
    </div>
    <table cellpadding="5" cellspacing="5">
      <tr><td><%= f.label :nick_name,'名号*'%></td><td><%= f.text_field :nick_name,:size => 21 %></td><td>任何人都能看到，请随意填写。</td></tr>
      <tr>
        <td><%= f. label :name,'真实姓名*'%></td>
        <% if @user.resources.blank? %>
          <td><%= f.text_field :name,:size => 21 %></td>
        <% else %>
          <td><%= h @user.name %></td>
        <% end %>
        <td>真实姓名不会以<strong>任何形式</strong>泄露(请相信Mikl.me)，除非你同意。通过真实姓名，朋友才会找到你。<strong>不可更改。</strong></td>
      </tr>
      <tr><td><%= f.label :sex,"性别*" %></td><td><%= f.radio_button :sex,1%>男<%= f.radio_button :sex,0 %>女</td></tr>
      <tr><td><%= f.label :birthday,'生日*' %></td><td><%= f.date_select :birthday,:start_year => 1970,:end_year => Time.now.year-8%></td><td>你的年龄对于自身营销或许很重要...</td></tr>
      <tr><td><%= f.label :address,"常居地" %></td><td><%= f.text_field :province,:size => 3 %>省<%= f.text_field :city,:size => 4 %>市</td></tr>

    </table>
    <%= submit_tag '完毕，就这样'%>
  <% end %>
</div>
