<%= javascript_include_tag :defaults,:cache => true  %>
<div id="text_wide">
  <h1>我的个人信息：</h1>
  <% form_for @user do |f|%>
    <%= f.error_messages %>
    <p>我目前的"领域":  <% for k in @user.keyword_pages %>
        <% if @user.value_orders.find_by_keyword_page_id(k.id).hidden==false %>
        <strong><%=link_to k.keyword,keyword_page_path(k) %></strong><span class="little_white"><%= link_to "  删除  ",:controller => :keyword_pages,:action => :hide_field,:id => k%></span>
        <% else %>
         <%= k.keyword %> <strong>(已删除)</strong><span class="little_white"><%= link_to "恢复",:controller => :keyword_pages,:action => :appear_field,:id => k %></span>
    <% end %>
    <% end %>
    </p>
    <p>
      这是Mikl.me的核心，请你务必了解Mikl.me的"领域"功能。现在就可以<%= link_to_remote "了解该功能>>>",:url => {:action => :manage_keywords} %>
    </p>
    <div id="my_keywords" style="display:none">
      <p class="bold">"领域"功能，组织形式上相当于我们经常见到的贴吧、小组功能。区别是，领域功能一个重要设定是：<strong>你在该有关小组主题的行为（如分享资源，原创文章）收获越多好评，之后你再发表的内容就会排序靠前。在整个网站内的搜索结果也会更靠前，进而会获得更多关注。</strong></p>
          <p>点击 <%= link_to "这里",keyword_pages_path,:popup => true %>来决定自己要加入哪些感兴趣的领域</p>

    </div>
    <table cellpadding="5" cellspacing="5">
      <tr><td><%= f.label :nick_name,'名号*'%></td><td><%= f.text_field :nick_name,:size => 21 %></td><td>任何人都能看到，请随意填写。</td></tr>
      <tr>
        <td><%= f. label :name,'真实姓名*'%></td>
        <% if @user.resources.blank? %>
          <td><%= f.text_field :name,:size => 21 %></td>
        <% else %>
          <td><%= h @user.name %></td>
        <% end %>
        <td>真实姓名不会以<strong>任何形式</strong>泄露(请相信Mikl.me)，除非你同意。通过真实姓名，朋友才会找到你。<strong>不可更改。</strong></td>
      </tr>
      <tr><td><%= f.label :sex,"性别*" %></td><td><%= f.radio_button :sex,1%>男<%= f.radio_button :sex,0 %>女</td></tr>
      <tr><td><%= f.label :birthday,'生日*' %></td><td><%= f.date_select :birthday,:start_year => 1970,:end_year => Time.now.year-8%></td><td>你的生日对于熟人或许很重要...</td></tr>
      <tr><td><%= f.label :address,"常居地" %></td><td><%= f.text_field :province,:size => 3 %>省<%= f.text_field :city,:size => 4 %>市</td></tr>

    </table>
    <%= submit_tag '完毕，就这样'%>
  <% end %>
</div>
