<%@page_title='（开始） '%>
  <div id="header">
    <div id="logo"><%= link_to "Michael",new_session_path %></div>
    <div id="menu"></div>
  </div>
  <!--end header -->
  <!-- main -->
  <div id="main">
    <div id="content">
      <div id="sidebar">
        <div id="sidebar_top"></div>
        <div id="sidebar_text">
          <h2>仍有所困惑或怀疑？</h2>
          <p>想要进一步了解Michael及Mikl.me，呵，请猛击<strong>>>>这里<<<</strong>。</p>
        </div>
        <div id="sidebar_bottom"></div>
      </div>
      <div id="text">
        <h1>由此开始：</h1>
        <% @user.password = nil %>
        <% form_for @user do |f| -%>
          <%=f.error_messages %>
          <table cellpadding="5" cellspacing="5">
            <tr><td><%= f.label :username,'登录帐号，请使用合法字符' %></td><td>        <%= f.text_field :username,:size => 23 %></td></tr>
            <tr><td><%= f.label :password,'密码，至少6位' %></td><td>  <%= f.password_field :password,:size => 23 %></td></tr>
            <tr><td><%= f.check_box :terms%> <%= f.label :terms,'我同意Mikl.me的《使用协议》' %></td><td><%=f.submit '注册',:onclick => "this.disabled = true" %></td></tr>
          </table>
        <% end -%>
      </div>
    </div>
    <!-- footer -->
    <%=render :partial=>'shared/footer'%>
    <!-- end footer -->
  </div>
  <!-- end main -->
