<% if current_user==@user %>
  <div id="new_resource">
    <h1><%= @variable_title %>
    </h1>
    <strong><%= link_to "(管理我所有的分享>>>)",user_resources_path(current_user),:class => "title" %></strong>
    <ul>
      <!--
      暂时去掉这个不是核心的功能
      <li>
        现在你可以<strong>更新你的状态</strong>（少于130字），说点什么，让关注你的人了解你的点点滴滴。<strong>这与领域功能无关</strong>。
      <%= render :partial => "twitter_resources/form",:locals => { :user => @user,:twitter_resource => @twitter_resource }  %>
      </li>
      -->
      <li>
     你参与的"领域"会显示在右边，如果暂时没有，可以点击<%= link_to"Michael",keyword_pages_path %>看看有没有自己感兴趣的。
       </li>
    </ul>
  </div>
  <% if @news.present? %>
    <%= render :partial => "news/news",:collection => @news %>
    <%= will_paginate @news, :prev_label => '上一页', :next_label => '下一页' %>
  <% end %>
<% else %>
  <strong><%= link_to "查看#{@user.nick_name}的所有价值信息>>>",user_resources_path(@user),:class => "title" %></strong>
  <% if @self_news_for_others.present? %>
    <%= render :partial => "news/others_news",:collection => @self_news_for_others %>
    <%= will_paginate @self_news_for_others, :prev_label => '上一页', :next_label => '下一页' %>
  <% end %>
<% end %>

