<% if current_user==@user %>
  <div id="new_resource">
    <h1><%= @variable_title %></h1>
    <h2>(以下两功能彼此独立)</h2>
    <ul>
      <li>
        分享一个链接，就像使用网络书签那样；或是发一个帖子（在Mikl.me这等同于写一篇Blog，二者其实一样)。
        <%= link_to "新建搜索结果条目>>>",new_user_link_url_resource_path(current_user),:popup => true%>
      </li>
      <li>
        分享身边<strong>随时发生的事</strong>（少于130字）。若每个人都这样做，我们就会知道，在同一时刻，世界都做些什么。<strong>请不要包含链接，</strong>直接写在下面：
        <%= render :partial => "twitter_resources/form",:locals => { :user => @user,:twitter_resource => @twitter_resource }  %>
      </li>
    </ul>
    <p>
      <strong>形式平平无奇。不过请先尝试。</strong>
    </p>
  </div>
<% end %>

<% if @news.present? %>
  <%= render :partial => "news/news",:collection => @news %>
  <%= will_paginate @news, :prev_label => '上一页', :next_label => '下一页' %>
<% end %>
