<% if logged_in? %>
  <% if current_user.followings.include?(user)  %>
    <div>
      <div><%= link_to user.nick_name,user_path(user) %></div>
      <strong>（我关注的人）</strong>
      <cite><%= "价值点数：#{user.field_value(keyword_page)}" %></cite>
    </div>
  <% elsif current_user.followers.include?(user)%>
    <div>
      <div><%= link_to user.nick_name,user_path(user) %></div>
      <strong>（关注我的人）</strong>
      <cite><%= "价值点数：#{user.field_value(keyword_page)}" %></cite>
    </div>
  <% else %>
    <div>
      <div><%= link_to user.nick_name ,user_path(user)%></div>
      <cite><%="价值点数：#{user.field_value(keyword_page)}" %></cite>
    </div>
  <% end %>
<% else %>
  <div>
    <div><%= link_to user.nick_name ,user_path(user)%></div>
    <cite><%="价值点数：#{user.field_value(keyword_page)}" %></cite>
  </div>
<% end %>