<div id="footer">
  <div id="top_footer"><%=link_to '联系我们'%>
    <%=link_to '免责声明'%>
    <%=link_to '帮助中心'%>
    <%=link_to '投资意向'%>
    <%=link_to 'Michael以外'%>
  </div>
  <div id="bottom_footer">© 2009 <span>Mikl.me,</span> all rights reserved</div>
  <div id="clearer"><span></span></div>
</div>