<div id="header">
  <div id="logo">
    <h1><%= link_to "Michael",new_user_searched_keyword_path(header) %></h1>
    <h1><%= link_to ".Me",user_path(header) %></h1>
  </div>
  <div id="menu">
    <ul>
      <li>
        <%= link_to ".Me",user_path(header) %>
      </li>
      <% if current_user.id=header.id %>
        <li><%= link_to "好友动态" %>
        </li>
        <li>
          <%= link_to "关系网络" %>
        </li>
        <li><%= link_to "我的关键字",user_keywords_path(header) %>
        </li>
      <% else %>
        <li>
          <%= link_to "#{header.nick_name}的关系网络" %>
        </li>
        <li><%= link_to "#{header.nick_name}的关键字",user_keywords_path(header) %>
        </li>
      <% end %>

      <li>
        <%= link_to "设置" %>
      </li>
      <li>
        <%= link_to '注册新用户',new_user_path %>
      </li>
      <li>
        <%= link_to '登出', session_path,:method => :delete %>
      </li>
    </ul>
  </div>
</div>