<ul>
  <li>
    <%= link_to_unless_current "首页",keyword_pages_path %>
  </li>
</ul>
<% if logged_in? %>
  <ul class="sw_right">

    <li>
      <%= link_to_unless_current "邀请(<cite>声望+1</cite>)",new_user_invite_path(current_user) %>
    </li>
    <li>
      <%= render :partial => "shared/search_user_bar" %>
    </li>
    <li>
      <%= link_to "离开",session_path,:method => :delete %>
    </li>
     </ul>
  <ul class="sw_left">
    <li id="my_space">
      <%= link_to "<<<我的空间",user_path(current_user)  %>
    </li>
  </ul>

<% else %>
  <ul>
    <li>
      <% form_tag session_path do -%>
        <%= label_tag 'username','1'%>
        <%= text_field_tag 'username',params[:username],:size => 30,:class => "input" %>
        <%= label_tag 'password','2'%>
        <%= password_field_tag 'password',params[:password],:size => 30,:class => "input"%>
        <%= check_box_tag 'remember_me', '1', @remember_me %>
        <%= label_tag 'remember_me', '记住' %>
        <%= submit_tag '进入' %>
      <% end -%>
    </li>
  </ul>
<% end %>
