<ul>
<li>
  <%= link_to_unless_current "Michael",keyword_pages_path %>
</li>
</ul>
<% if logged_in? %>
  <ul class="sw_right">
    <li>
      <%= link_to "查找用户>>>",search_user_new_user_follow_path(current_user) %>
    </li>
    |
    <li>
      <%= link_to "登出",session_path,:method => :delete %>
    </li>
  </ul>
  <ul class="sc_hl1">
    <li>
      <%= link_to "我的主页",user_path(current_user)  %>
    </li>
    <li><%= link_to_unless_current"好友的贴吧",user_controlled_keywords_path(current_user) %>
    </li>
  </ul>

<% else %>
  <ul>
    <li>
      <% form_tag session_path do -%>
        <%= label_tag 'username','1'%>
        <%= text_field_tag 'username',params[:username],:size => 30,:class => "input" %>
        <%= label_tag 'password','2'%>
        <%= password_field_tag 'password',params[:password],:size => 30,:class => "input"%>
        <%= check_box_tag 'remember_me', '1', @remember_me %>
        <%= label_tag 'remember_me', '记住' %>
        <%= submit_tag '登录' %>
        <%= link_to "注册",new_user_path %>
      <% end -%>
    </li>
  </ul>
<% end %>
