<div id="sw_aside">
  <div id="sw_nav">
    <h2><%=@user.nick_name%>的全部行径</h2>
    <ul>
      <li >
        <%= link_to_unless_current "全部", user_resources_path(@user)%>
      </li>
      <li>
        <%= link_to_unless_current "原创内容(#{@user.resources.scoped_by_authority(true).in_one_day.size}新)" ,authority_user_resources_path(@user)%>
      </li>
      <li>
        <%= link_to_unless_current "非原创内容(#{@user.resources.scoped_by_authority(false).in_one_day.size}新)",not_authority_user_resources_path(@user) %>
      </li>
      <!--
      暂时去掉了这部分功能。
      <li>
        <%= link_to_unless_current "我的点点滴滴（#{@user.twitter_resources.in_one_day.size}新）",user_twitter_resources_path(@user) %>
      </li>
      -->
    </ul>
  </div>
</div>