<% if current_user.regard_real_friend?(user_profile)%>
  <span><%= link_to user_profile.name,user_path(user_profile)%></span><span class="nick_name"><%= "（#{user_profile.nick_name}）" %></span>
  <em>(我的真实朋友)</em>
  <cite><%= "价值点数：#{user_profile.value}" %></cite>
<% elsif current_user.interested_in?(user_profile)  %>
  <span class="nick_name"><%= link_to user_profile.nick_name,user_path(user_profile) %></span>
  <em>（我关注的人）</em>
  <cite><%= "价值点数：#{user_profile.value}" %></cite>
<% elsif user_profile==current_user%>
  <span><%= link_to user_profile.name,user_path(user_profile) %></span>
  <strong>(我自己)</strong>
  <cite><%= "价值点数：#{user_profile.value}" %></cite>
<% else %>
  <span class="nick_name"><%= link_to user_profile.nick_name ,user_path(user_profile)%></span>
  <cite><%= "价值点数：#{user_profile.value}" %></cite>
<% end %>