<% if current_user.followings.include?(user_profile_full)  %>
  <div>
    <em><%= link_to user_profile_full.nick_name,user_path(user_profile_full) %></em>
    <span class="highlight">已关注</span>
    <em><%= link_to "取消关注",user_be_follow_path(user_profile_full,user_profile_full.be_follows.find_by_follower_id(current_user.id)),:method => :delete,:confirm => "确定取消关注？" %></em>
  </div>
<% elsif user_profile_full==current_user%>
  <div>
    <em><%= link_to user_profile_full.nick_name,user_path(user_profile_full) %></em>
  </div>
<% else %>
  <div>
    <em><%= link_to user_profile_full.nick_name ,user_path(user_profile_full)%></em>
    <span class="big_white">
      <% form_for [user_profile_full,@be_follow] do |f| %>
        <%= f.error_messages %>
        <%= f.submit "加关注！"%>
      <% end %></span>
  </div>
<% end %>
<% if user_profile_full.province.present? %>
  <span class="little_white">生日: <%= user_profile_full.birthday.to_s(:short) %>
    <%= user_profile_full.province %>省</span>
<% end %>
<% if  user_profile_full.city.present? %>
  <span class="little_white">
    <%= user_profile_full.city %>市
  </span>
<% end %>
<span class="little_white">用户ID <%= user_profile_full.id %></span>
