<% if logged_in? %>
  <% if current_user.followings.include?(user_profile)  %>
    <div>
      <div><%= link_to user_profile.nick_name,user_path(user_profile) %></div>
      <strong>（我关注的人）</strong>
      <cite><%= "总价值点数：#{user_profile.total_value}" %></cite>
    </div>
  <% elsif current_user.followers.include?(user_profile)%>
    <div>
      <div><%= link_to user_profile.nick_name,user_path(user_profile) %></div>
      <strong>（关注我的人）</strong>
      <cite><%= "总价值点数：#{user_profile.total_value}" %></cite>
    </div>
  <% elsif user_profile==current_user%>
    <div>
      <div><%= link_to user_profile.nick_name,user_path(user_profile) %></div>
      <cite><%= link_to_value_help%><%= user_profile.total_value %></cite>
    </div>
  <% else %>
    <div>
      <div><%= link_to user_profile.nick_name ,user_path(user_profile)%></div>
      <cite><em><%="总价值点数：#{user_profile.total_value}" %></em></cite>
    </div>
  <% end %>
<% else %>
  <div>
    <div><%= link_to user_profile.nick_name ,user_path(user_profile)%></div>
    <cite><em><%="总价值点数：#{user_profile.total_value}" %></em></cite>
  </div>
<% end %>