<% if user_profile_full.regard_real_friend?(current_user)%>
  <div>
    <span><%= link_to user_profile_full.name,user_path(user_profile_full)%></span><cite>(对方向我提供了真实姓名)</cite><span class="nick_name">昵称：<%= "#{user_profile_full.nick_name}" %></span>
    <cite><%= "价值点数：#{user_profile_full.value}" %></cite>
  </div>
<% elsif current_user.regard_real_friend?(user_profile_full) %>
  <div>
    <span><%= link_to user_profile_full.nick_name,user_path(user_profile_full) %></span>
    <strong>(我的真实朋友)</strong>
    <cite><%= "价值点数：#{user_profile_full.value}" %></cite>
  </div>
<% elsif current_user.interested_in?(user_profile_full)  %>
  <div>
    <span><%= link_to user_profile_full.nick_name,user_path(user_profile_full) %></span>
    <strong>（我关注的人）</strong>
    <cite><%= "价值点数：#{user_profile_full.value}" %></cite>
  </div>
<% elsif user_profile_full.interested_in?(current_user)%>
  <div>
    <span><%= link_to user_profile_full.nick_name,user_path(user_profile_full) %></span>
    <strong>（关注我的人）</strong>
    <span><%= link_to "关注该用户",new_user_be_follow_path(user_profile_full) %></span>
  </div>
<% elsif user_profile_full==current_user%>
  <div>
    <em><%= link_to user_profile_full.nick_name,user_path(user_profile_full) %></em>
    <cite><%=link_to_value_help%>：<%=user_profile_full.value%></cite>
  </div>
<% else %>
  <div>
    <span><%= link_to user_profile_full.nick_name ,user_path(user_profile_full)%></span>
    <cite><em><%="价值点数：#{user_profile_full.value}" %></em></cite>
    <span><%= link_to "关注该用户",new_user_be_follow_path(user_profile_full) %></span>
  </div>
<% end %>
<em>生日: <%= user_profile_full.birthday %></em>
<em>
  <% if user_profile_full.province.present? %>
    <%= user_profile_full.province %>省
  <% end %>
  <% if  user_profile_full.city.present? %>
    <%= user_profile_full.city %>市</em>
<% end %>
<em>用户ID <%= user_profile_full.id %></em>
