<% f=friends_news %>
<li>
  <% if f.news_type=="resource" %>
    <div>
     <%= link_to "#{f.owner.name_or_nick_name(current_user)}",user_path(f.resource.owner) -%> 在<%=link_to_page f.resource.keyword_page %>中发言：
      <%= render :partial => "resources/resource_left",:object => f.resource %>
    </div>
  <% elsif f.news_type=="comment"%>
    <div>
      在<%=link_to_page f.resource.keyword_page %>中，
      <%= comment_action(f.comment) %>
      <span class="sb_meta">
      <%=distance_of_time_in_words(Time.now, f.created_at, true)%></span>
      <p class="friend_news">
        <%= image_tag "quote_l.gif" %> <%=link_to truncate(h(f.comment.content),:length => 140),user_resource_comments_path(f.resource.owner,f.resource) %>

      </p>
    </div>
  <%end  %>

</li>
