<% x="“"+truncate(keyword_page_news.comment.try(:content),:length => 24).to_s+"”" %>


<span class="sb_meta">
<%=distance_of_time_in_words(Time.now, keyword_page_news.created_at, true)%></span>
<% if keyword_page_news.news_type=="be_comment" %>
  <div class="keyword_page_news">
    <%=link_to x,user_news_path(keyword_page_news.owner,keyword_page_news),:popup => true %>
    <cite>
      <% if keyword_page_news.changed_value.present?  %>
        <%= "+" if keyword_page_news.changed_value>=0 %>
      <% end %>
      <%= keyword_page_news.changed_value %></cite>
  </div>
<% elsif keyword_page_news.news_type=="be_follow" %>
  <div class="keyword_page_news">
    <%=link_to keyword_page_news.follower.name_or_nick_name(current_user),user_news_path(keyword_page_news.owner,keyword_page_news) %>关注了我。
  </div>
<% end %>