<span class="right">
<%=distance_of_time_in_words(Time.now, keyword_page_news.created_at, true)%></span>
<% if keyword_page_news.news_type=="be_comment" %>
  <div class="side">
    "<%=truncate keyword_page_news.comment.try(:content),:length => 30%>"
    <%=link_to "查看",user_resource_comments_path(keyword_page_news.resource.owner,keyword_page_news.resource),:popup => true %>
  </div>
<% elsif keyword_page_news.news_type=="be_follow" %>
  <p>
    <%=link_to keyword_page_news.follower.name_or_nick_name(current_user),user_path(keyword_page_news.follower) %>关注了我，我的声望有所增加。
  </p>
<% elsif  keyword_page_news.news_type=="be_replied_comment"%>
  <div class="side">
    "<%=truncate keyword_page_news.comment.try(:content),:length => 30%>"
      <%=link_to "查看",user_resource_comments_path(keyword_page_news.resource.owner,keyword_page_news.resource),:popup => true%>
  </div>
<% end %>