<span class="right">
  <% if news.created_at>Time.now.at_beginning_of_day%>
  <em>
    (今天)
  </em>
    <% end %>
<%=h news.created_at.advance(:hours => 8).to_s(:db)%></span>
<% if news.news_type=="comment" %>
  <p>
    <%= link_to news.owner.name_or_nick_name(current_user),user_path(news.owner) %>的链接条目
    <%=link_to news.resource.description,news.resource.link_url,:popup => true,:class => "title" %>被评论：
    <cite><%=truncate news.comment.try(:content),:length => 140 %>
    </cite>
    （共<%=link_to news.resource.comments.size,user_link_url_resource_comments_path(news.owner,news.resource),:popup => true %>评论）
    <% a=Comment.sum(:rating,:conditions => ["resource_id=?",news.resource.id]) %>
    <% if a>=0 %>
      价值点数共增加 <%=h a %>
    <% else %>
      价值点数共减少了 <%=h -a %>(反响恶劣)
    <% end %>
  </p>
  <% elsif news.news_type=="replied_comment" %>
  <p>
    <%=link_to news.owner.name_or_nick_name(current_user),user_path(news.owner) %>在 <%=link_to news.resource.keywords,keyword_page_path(via_keyword_to_keyword_page(news.resource.keywords)),:class => "title" %>
    的讨论中被回复: 
    <cite><%=h news.comment.content %>
    </cite>
  </p>
<% elsif news.news_type=="twitter_resource" %>
  <p>
  <%=link_to news.owner.name_or_nick_name(current_user),user_path(news.owner) %>说：
 <cite><%=h news.resource.content %></cite>
    <em><%= link_to "#{news.resource.replies.size}条回应>>>", user_twitter_resource_path(news.resource.owner,news.resource)%></em>
  </p>
<% elsif news.news_type=="link_url_resource" %>
  <p>
    <%= link_to "#{news.owner.name_or_nick_name(current_user)}",user_path(news.resource.owner) -%>创建了
    <% if news.resource.authority? %>
      <%= "原创" -%>
    <% end %>
    <% if news.resource.form=="视频" -%>
      <%="视频" -%>
    <% elsif news.resource.form=="音频" -%>
      <%= "音乐" %>
    <% elsif news.resource.form=="图片" %>
      <%="图片" %>
    <% elsif news.resource.form=="文字、文档" %>
      <%="文章" %>
    <% end %>
    <%= link_to "#{news.resource.description}",news.resource.link_url,:popup => true,:class => "title" %>
    （关键字为 <%=link_to news.resource.keywords,keyword_page_path(via_keyword_to_keyword_page(news.resource.keywords)) %>）
  </p>
<% elsif news.news_type=="stranger_follow" %>
  <p>
    <%=link_to news.owner.name_or_nick_name(current_user),user_path(news.owner) %>被 <%=link_to news.follower.name_or_nick_name(current_user),user_path(news.follower) %>关注，价值点数+3。
  </p>
<% elsif news.news_type=="friend_follow" %>
  <p>
    <%=link_to news.owner.name_or_nick_name(current_user),user_path(news.owner) %>被 <%=link_to news.follower.name_or_nick_name(current_user),user_path(news.follower) %>加为朋友，价值点数+3.
  </p>
<% elsif news.news_type=="twitter_resource_reply" %>
  <p>
    <%=link_to news.owner.name_or_nick_name(current_user),user_path(news.owner) %>的呓语
    <cite><%=truncate news.resource.content,:length => 14%></cite>被回复了
    <em><%=link_to "#{news.resource.replies.size}次>>>",user_twitter_resource_path(news.resource.owner,news.resource) %></em>,价值点数＋ <%=h news.resource.replies.size*0.2 %>
  </p>
<%end  %>

