<span class="right">
<%=distance_of_time_in_words(Time.now, others_news.created_at, true)%></span>

<% if others_news.news_type=="blog_resource" %>
  <p>
    <%= link_to "#{others_news.owner.name_or_nick_name(current_user)}",user_path(others_news.resource.owner) -%>发表高论
    <cite><%= auto_link others_news.resource.content%></cite>
    <em><%= link_to "#{others_news.resource.comments.size}回应>>>",user_resource_comments_path(others_news.resource.owner,others_news.resource) %></em>
    （领域： <%=link_to_page others_news.resource.keyword_page %>）
  </p>
<% elsif others_news.news_type=="comment" %>
  <p>
    <%= link_to others_news.owner.nick_name,user_path(others_news.owner) %>
    <% if others_news.comment.action_one.present? and others_news.comment.action_two.present? %>
      <%= others_news.comment.action_one %>了<%= link_to others_news.resource.owner.nick_name,user_path(others_news.resource.owner) %>的<%=others_news.comment.action_two%>
      并
    <% end %>
    回应：
    <cite>
      <%=truncate others_news.comment.content,:length => 140 %>
    </cite>
    <em><%= link_to "#{others_news.resource.comments.size}回应>>>",user_resource_comments_path(others_news.resource.owner,others_news.resource.comments) %></em>
  </p>
<%end  %>

