<span class="right">
  <% if others_news.created_at>Time.now.at_beginning_of_day%>
    <em>
      (今天)
    </em>
  <% end %>
  <%=h others_news.created_at.advance(:hours => 8).to_s(:db)%></span>
  <% if others_news.news_type=="twitter_resource" %>
  <p>
    <%=link_to others_news.owner.name_or_nick_name(current_user),user_path(others_news.owner) %>说：
    <cite><%=h others_news.resource.content %></cite>
    <em><%= link_to "#{others_news.resource.replies.size}条回应>>>", user_twitter_resource_path(others_news.resource.owner,others_news.resource)%>
    </em>
  </p>
<% elsif others_news.news_type=="link_url_resource" %>
  <p>
    <%= link_to "#{others_news.owner.name_or_nick_name(current_user)}",user_path(others_news.resource.owner) -%>分享了
    <% if others_news.resource.authority? %>
      <%= "原创" -%>
    <% end %>
    <% if others_news.resource.form=="视频" -%>
      <%="视频" -%>
    <% elsif others_news.resource.form=="音频" -%>
      <%= "音乐" %>
    <% elsif others_news.resource.form=="图片" %>
      <%="图片" %>
    <% elsif others_news.resource.form=="文字、文档" %>
      <%="文章" %>
    <% end %>
    <%= link_to "#{others_news.resource.description}",others_news.resource.link_url,:popup => true,:class => "title" %>
    （关键字为 <%=link_to others_news.resource.keywords,keyword_page_path(via_keyword_to_keyword_page(others_news.resource.keywords)) %>）
  </p>
<% elsif others_news.news_type=="blog_resource" %>
  <p>
    <%= link_to "#{news.owner.name_or_nick_name(current_user)}",user_path(news.resource.owner) -%>发表了日志
    <%= link_to "#{news.resource.title}", user_blog_resource_path(news.resource.owner,news.resource),:popup => true,:class => "title"%>
    （关键字为 <%=link_to news.resource.keywords,keyword_page_path(via_keyword_to_keyword_page(news.resource.keywords)) %>）
  </p>
<%end  %>

