<span class="right">
<%=distance_of_time_in_words(Time.now, others_news.created_at, true)%></span>

<% if others_news.news_type=="resource" %>
  <p>
    <em><%= link_to "#{others_news.owner.name_or_nick_name(current_user)}",user_path(others_news.resource.owner) -%></em>发表高见
    <cite><%= auto_link others_news.resource.content%></cite>
    <span class="right">贴吧： <%=link_to_page others_news.resource.keyword_page %></span>
    <em><%= link_to "回复>>>",user_resource_comments_path(others_news.resource.owner,others_news.resource) %></em><span class="highlight">(<%=others_news.resource.comments.size %>)</span>
  </p>
<% elsif others_news.news_type=="comment"%>
  <p>
     <em><%= link_to others_news.owner.name_or_nick_name(current_user),user_path(others_news.owner) %> </em>
    <% if others_news.comment.action_one.present? and others_news.comment.action_two.present? %>
      <%= others_news.comment.action_one %>了 <em><%=link_to others_news.comment.parent.owner.name_or_nick_name(current_user),user_path(others_news.comment.parent.owner)%> </em>的<%=others_news.comment.action_two%>并
    <% end %>
    回应 <em><%= link_to others_news.comment.parent.owner.name_or_nick_name(current_user),user_path(others_news.comment.parent.owner) %> </em>：
    <cite>
      <%=truncate others_news.comment.content,:length => 140 %>
    </cite>
    <span class="right">贴吧： <%=link_to_page others_news.resource.keyword_page %></span>
    <em><%= link_to "回复>>>",user_resource_comments_path(others_news.resource.owner,others_news.resource) %></em><span class="highlight">(<%=others_news.resource.comments.size %>)</span>
  </p>
<%end  %>

