<span class="right">
<%=distance_of_time_in_words(Time.now, others_news.created_at, true)%></span>

<% if others_news.news_type=="resource" %>
  <div class="dashed">
    <em><%= link_to "#{others_news.owner.name_or_nick_name(current_user)}",user_path(others_news.resource.owner) -%></em>
    在<span  id="keyword_page"><%=link_to_page others_news.resource.keyword_page %></span>中说：
    <p><%= variable_content others_news.resource%></p>
    <div><%= link_to "详细>>",user_resource_comments_path(others_news.resource.owner,others_news.resource) %></div>
  </div>
<% elsif others_news.news_type=="comment"%>
  <div class="dashed">
在<span  id="keyword_page"><%=link_to_page others_news.resource.keyword_page %></span>中，
    <%= comment_action(others_news.comment) %>
     
  <p>
      <%=variable_content(others_news.comment)%>
    </p>
    <div><%= link_to "详细>>",user_resource_comments_path(others_news.resource.owner,others_news.resource) %></div>
  </div>
<%end  %>

