<div class="sb_ph"><h1>“<%=@keyword %>”的所有结果</h1>
  <span>共 <%=h @resources.size %> 条</span><span class="sc_bullet">·</span>
</div>
<div id="results">
  <div class="item">
    这个是在整个网站范围内的搜索。搜索结果排序依据是用户的总的声望。
  </div>
  <ol class="sb_results" id="wg0">
    <% for resource in @resources %>
      <li>
          <% if resource.class.to_s=="BlogResource" %>
            <table>
              <tbody>
                <tr>
                  <td width="500">
                    <p>
                      <%=simple_format(auto_link(resource.content))%>
                    </p>
                    <span class="sb_meta">关键字：<strong><%= resource.keyword_page.keyword %></strong></span>
                    <%= link_to "回应>>>", user_resource_comments_path(resource.owner,resource),:popup => true %><span class="amount">(<%=resource.comments.size  %>)</span>
                  </td>
                  <td width="80"><div><%= link_to resource.owner.nick_name,user_path(resource.owner) %></div>
                    <cite><%= link_to_value_help %><%=resource.owner.total_value %></cite>
                  </td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </li>
      <% end %>

    </ol>
  </div>
  <div class="sb_pag">
    <%= will_paginate @resources, :prev_label => '上一页', :next_label => '下一页' %>
  </div>
