<span class="left"><%= render :partial => "shared/field_profile",:locals => {:user => bubble_resource.owner,:keyword_page => bubble_resource.keyword_page}%>
</span>
<div class="margin_left">

  <%= link_to_resource_comments_path(bubble_resource) %>
</div>
<table cellspacing="0" cellpadding="0" border="0"><tbody>
    <tr>
      <td width="40" height="30" class="lt"/><td height="30" class="ct"/><td width="40" height="30" class="rt"/></tr>
    <tr><td width="40" valign="top" class="lm"><img src="../images/td_arrow.gif"/></td><td valign="top" class="origin"> <span class="tip_i"><%=distance_of_time_in_words(Time.now, bubble_resource.created_at, true)%></span>
        <%=truncate auto_link(bubble_resource.content),:length => 300%>
        <p>
        <%= link_to_origin(bubble_resource) %>       </p>
      </td><td width="40" class="rm"/></tr>
    <tr><td width="40" height="20" class="lb"/><td height="20" class="cb"/><td width="40" height="20" class="rb"/></tr></tbody></table>