<div class="right">
<table cellspacing="0" cellpadding="0" border="0"><tbody>
    <tr>
      <td width="40" height="30" class="lt"/><td height="30" class="ct"/><td width="40" height="30" class="rt"/></tr>
    <tr><td width="40" valign="top" class="lm"></td><td valign="top" class="origin"> <span class="tip_i"><%=distance_of_time_in_words(Time.now, no_profile_resource.created_at, true)%></span>
        <%=truncate auto_link(no_profile_resource.content),:length => 300%>
        <p>
        <%= link_to_origin(no_profile_resource) %>       </p>
        <div class="margin_left">
          <%= link_to_resource_comments_path(no_profile_resource) %>
        </div>
      </td><td width="40" class="rm"><%= image_tag "td_arrow_2.gif"%></td></tr>
    <tr><td width="40" height="20" class="lb"/><td height="20" class="cb"/><td width="40" height="20" class="rb"/></tr></tbody></table>
</div>