<li>
  <span class="sb_meta"><%=distance_of_time_in_words(Time.now, no_profile_resource.created_at, true)%></span>
  <div class="margin_left">
    <p>
      <%=truncate auto_link(no_profile_resource.content),:length => 300%>
    <%=  image_tag  user_resource_path(no_profile_resource.owner,no_profile_resource, :jpg)%>      </p>
    <br />
    <%= link_to  "回复>>>", user_resource_comments_path(no_profile_resource.owner,no_profile_resource),:popup => true %><span class="amount">(<%=no_profile_resource.comments.size  %>)</span>

  </div>
</li>
