<li>
  <h3>
    <% if  resource.type=="LinkUrlResource"  %>
      <%= link_to resource.title,resource.link_url,:popup => true%>
    <% elsif resource.type=="TwitterResource" %>
      <%=  link_to resource.keywords,user_resource_path(resource.owner,resource),:popup => true %>
    <% elsif resource.type=="BlogResource" %>
      <%= link_to resource.title,user_resource_path(resource.owner,resource) %>
    <% end %>
  </h3>
  <em>来自：
    <%= resource.owner.id %>
    价值点数：<%= resource.owner.value %>
  </em>
  <div>
    <%= button_to "此结果对我有用",:action => :add_user_value,:id => @resource %>
    <%= button_to "此结果与关键字不符",:action => :minus_user_value,:id => @resource %>
  </div>
  <div>
    <% for comment in resource.comments.good_comments do%>
        <%= auto_link(highlight(truncate(comment.content,:length => 140),resource.keywords)) %>
      <% end %>
    </div>
    <span><%= link_to "看看别人对这个条目的反应（#{resource.comments.size}条评论）", user_resource_comments_path(resource.owner,resource),:popup => true %></span>
  </li>