<li>
  <h3>
    <% if  resource.resource_type=="link_url_resource"  %>
      <%= link_to resource.title,resource.link_url,:popup => true%>
    <% elsif resource.resource_type=="twitter_resource" %>
      <%=  link_to resource.keywords,user_resource_path(resource.owner),:popup => true %>
      <% elsif resource.resource_type=="blog_resource" %>
        <%= link_to resource.title,user_resource_path(resource.owner) %>
    <% end %>
  </h3>
  <em>来自：
    <%= resource.owner.id %>
    价值点数：<%= resource.owner.value %>
  </em>
  <span><%= link_to "delete",user_resource_path(resource.owner,resource),:method => :delete %></span>
  <span></span>
  <span></span>
  <div>
    <% for comment in resource.comments.good_comments do%>
        <%= auto_link(highlight(truncate(comment.content,:length => 140),resource.keywords)) %>
      <% end %>
    </div>
    <span><%= link_to "发表评论...", new_user_resource_comment_path(resource.owner,resource) %></span>
  </li>