<li>
  <span class="left"><%= render :partial => "shared/field_profile",:locals => {:user => resource.owner,:keyword_page => resource.keyword_page}%>
  </span>
    <span class="sb_meta"><%=distance_of_time_in_words(Time.now, resource.created_at, true)%></span>
  <div class="margin_left">
    <p>
      <%=truncate auto_link(resource.content),:length => 300%>
       </p>
       <p>
       <%= link_to_origin(resource) %>       </p>
         <%= link_to_resource_comments_path(resource) %>
  </div>
</li>
