
<table cellspacing="0" cellpadding="0" border="0" ><tbody>
    <tr>
      <td width="40" height="30" class="lt"/><td height="30" class="ct"/><td width="40" height="30" class="rt"/></tr>
    <tr><td width="40" valign="top" class="lm"><%= image_tag "td_arrow.gif"%></td><td valign="top" class="origin"> <span class="tip_i"><%=distance_of_time_in_words(Time.zone.now, resource_left.created_at, true)%></span>
        <%= variable_content(resource_left)%>
        
        <p>
        <%= link_to_origin(resource_left) %> </p>
<div><%= link_to_resource_comments_path(resource_left) %></div>
      </td><td width="40" class="rm"/></tr>
    <tr><td width="40" height="20" class="lb"/><td height="20" class="cb"/><td width="40" height="20" class="rb"/></tr></tbody></table>
