  <span class="sb_meta"><%=distance_of_time_in_words(Time.now, resource_content.created_at, true)%></span>
  <div class="margin_left">
    <p>
      <%=truncate auto_link(resource_content.content),:length => 300%>
       </p>
       <p>
       <%=link_to(image_tag(preview_user_resource_path(resource_content.owner,resource_content, :jpg)),origin_user_resource_path(resource_content.owner,resource_content,:jpg), :popup => ['预览', 'height=400,width=540']) if resource_content.has_image? %>
       </p>
         <br />
    <%= link_to "回复>>>", user_resource_comments_path(resource_content.owner,resource_content),:popup => true %><span class="amount">(<%=resource_content.comments.size  %>)</span>
  </div>