<body>
  <%= render :partial => "shared/header",:object => @user %>
  <!--end header -->
  <!-- main -->
  <div id="main">
    <div id="sidebar_left">
      <div id="my_friends">
        <h3>
          我得到的信息来自于这些人：
        </h3>
      </div>
      <div>
        <h3>
          这些人从我这里得到信息：
        </h3>
      </div>
    </div>

    <div id="content">
      <%if flash[:notice]%>
        <p><%=flash[:notice]%></p>
      <%end%>
      <%if flash[:error]%>
        <p><%=flash[:error]%></p>
      <%end%>
      <h2>你拥有的全部：<em><%= link_to "我的全部就是这些东西？" %></em></h2>
      <ul>
        <%= render @resources %>
      </ul>
      <span>
        <%= link_to "分享新链接",new_user_resource_path(@user) %>
      </span>
    </div>

  </div>
  <!-- end main -->
  <!-- footer -->
  <%=render :partial=>'shared/footer'%>
  <!-- end footer -->
</body>




