<body>
  <div id="header">
    <div id="logo">
      <h1><%= link_to "Michael",:controller => :start,:action => :michael %></h1>
    </div>
    <div id="menu">
      <ul>
        <li>
          <%= link_to '登出', session_path,:method => :delete %>
        </li>
      </ul>
    </div>
  </div>
  <!--end header -->
  <!-- main -->
  <div id="main">
    <div id="content">
      <%if flash[:notice]%>
        <p><%=flash[:notice]%></p>
      <%end%>
      <%if flash[:error]%>
        <p><%=flash[:error]%></p>
      <%end%>
        <ul>
          <%= render @resources %>
        </ul>
        <span>
          <%= link_to "分享新链接",new_user_resource_path(@user) %>
        </span>
    </div>
  </div>
  <!-- end main -->
  <!-- footer -->
  <%=render :partial=>'shared/footer'%>
  <!-- end footer -->
</body>




