<div id="main">
  <div id="content">
    <div id="sidebar">
      <div id="sidebar_top"></div>
      <div id="sidebar_text">
        <h2><%= link_to "看看#{@user.nick_name}上网看些什么" ,user_link_url_resources_path(@user)%></h2>
        <h2><%= link_to "看看#{@user.nick_name}不上网时生活怎样过",user_twitter_resources_path(@user) %></h2>
        <h2><%= link_to "看看#{@user.nick_name}的思想深度如何",user_blog_resources_path(@user) %></h2>
      </div>
      <div id="sidebar_bottom"></div>
    </div>
    <div id="text">
      <%if flash[:notice]%>
        <p><%=flash[:notice]%></p>
      <%end%>
      <%if flash[:error]%>
        <p><%=flash[:error]%></p>
      <%end%>
      <div id="new_resource">
        <h2>这里你可以分享如下事物，这些事物将被纳入Michael引擎：</h2>
        <ul>
          <li>
            长篇。多于139字（有趣时）
            <%= link_to "新建>>>",new_user_blog_resource_path(current_user),:popup => ['新的文章', 'height=500,width=400'] %>
          </li>
          <li>
            链接URL。<strong>注意加入http://字样</strong>（无趣上网之时）
            <%= link_to "新建>>>",new_user_link_url_resource_path(current_user),:popup => ['新的分享', 'height=500,width=400']%>
          </li>
          <li>
            呓语，少于139字。<strong>不包含链接</strong>（无趣不上网之时）
            <p>直接写在这里：</p>
            <%= render :partial => "twitter_resources/form",:locals => { :user => @user,:twitter_resource => @twitter_resource }  %>
          </li>
        </ul>
        <p>
          <strong>形式平平无奇......重要的是,这些一切将被检索，搜索结果由你控制。何不立即尝试？</strong>
        </p>
      </div>
      <h2>你的全部：<em><%= link_to "我的全部就是这些东西？" %></em></h2>
      <ul id="r">
        <%= render @resources %>
      </ul>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>

