<h1>Listing searched_keywords</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
  </tr>

<% @searched_keywords.each do |searched_keyword| %>
  <tr>
    <td><%=h searched_keyword.name %></td>
    <td><%=h searched_keyword.user_id %></td>
    <td><%= link_to 'Show', searched_keyword %></td>
    <td><%= link_to 'Edit', edit_searched_keyword_path(searched_keyword) %></td>
    <td><%= link_to 'Destroy', searched_keyword, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New searched_keyword', new_searched_keyword_path %>