<div id="logo">
  <h1><%= link_to "Michael",new_user_searched_keyword_path(current_user) %></h1>
  <h1><%= link_to ".Me",user_path(current_user) %></h1>
</div>
<h3>相关结果:</h3>
<div>
  <table>
    <tbody>
      <tr>
        <% if not @related_searched_keywords.blank? %>
          <% for related_searched_keyword in @related_searched_keywords %>
            <td>
              <%= related_searched_keyword.name %>
            </td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
    <%=link_to "修改相关关键字",user_searched_keyword_related_searched_keywords_path(@user,@keyword),:popup => ['修改相关关键字', 'height=300,width=600'] %>
  </table>
</div>

<h2>Michael提供以下结果</h2>
<div>
  <ol>
    <%= render  @resources  %>
  </ol>
</div>

