<div id="header">
  <div id="logo2">
    <h1><%= link_to "Mikl",new_searched_keyword_path %><%= link_to_me %></h1>
    <div id="search_twitter">
      <p>
        搜索全部
      </p>
      <% form_tag :controller => :searched_contents,:action => :show do%>
        <%= text_field :resource,:content,:size => 40%>
        <%=submit_tag "搜索" %>
      <% end %>
    </div>

  </div>
</div>

<div id="main">

  <%= render :partial => "shared/footer" %>
</div>
