<div id="logo">
  <h1><%= link_to "Michael",new_user_searched_keyword_path(current_user) %></h1>
  <h1><%= link_to ".Me",user_path(current_user) %></h1>
</div>
<div id="main">
  <div id="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  <%= text_field_with_auto_complete :resource, :keywords, {:onfocus => "resource_keywords_auto_completer.activate()"}, {:method => :get, :frequency => 0,:after_update_element =>
      "function(element,value){" + remote_function(:url => {:action => :create},:with=>"'keywords='+element.value") + "}"} %>
</div>
<div>
  <span>
    你不能这样弄。
  </span>
</div>
<%= render 'shared/footer' %>
