<div id="header">
  <div id="logo2">
    <h1><%= link_to "Mikl",new_searched_keyword_path %><%= link_to_me %></h1>
    <div id="search_link_url">
      <p>
        搜索领域
        <%= link_to_remote "全站搜索",:url => {:action => :search_twitter}%>
      </p>
      <%= text_field 'keyword_page','keyword' %>
      <div class="auto_complete" id="keyword_page_keyword_auto_complete">
      </div>
      <%= auto_complete_field :keyword_page_keyword,:url => {:action => 'auto_complete_for_keyword_page_keyword'},:frequency => 0.1,:after_update_element =>
        "function(element,value){" + remote_function(:url => {:action => :create},:with=>"'keyword='+element.value") + "}"%>
      <div><%= link_to "新的分享",new_user_link_url_resource_path(current_user),:popup => true%></div>
    </div>

    <div id="search_twitter" style="display:none">
      <p>
        <%= link_to_remote "进入领域",:url => {:action => :search_link_url} %>
        全站搜索
      </p>
      <form action=" http://mikl.me/searched_contents/all_results" id="cse-search-box">
        <div>
          <input type="hidden" name="cx" value="008267320220414684862:pkmhwv8hnu4" />
          <input type="hidden" name="cof" value="FORID:9" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" size="31" />
          <input type="submit" name="sa" value="Search" />
        </div>
      </form>
      <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=en"></script>

    </div>
  </div>
</div>

<div id="main">
  <div class="top_users">
    <p> <%= link_to_remote "更多，世界说>>>",:url => {:action => :about_all_keywords } %>
    </p>
    <div id="more" style="display:none">
      <% for k in @keyword_pages %>
        <div class="left">
          <%= link_to k.keyword,keyword_page_path(k) %>
          <ul>
            <%for r in k.resources.recent%>
              <li>
                <%= link_to_resource(r)%>
              </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <%= render :partial => "shared/footer" %>
  </div>