<div id="header">
  <div id="logo2">
    <h1><%= link_to "Mikl",new_user_searched_keyword_path(current_user) %><%= link_to ".Me",user_path(current_user) %></h1>
    <div id="search_link_url">
      <p>
        搜索链接
        <%= link_to_remote "搜索人们呓语什么",:url => {:action => :search_twitter}%>
      </p>
      <%= text_field 'link_url_resource','keywords' %>
      <div class="auto_complete" id="link_url_resource_keywords_auto_complete">
      </div>
      <%= auto_complete_field :link_url_resource_keywords,:url => {:action => 'auto_complete_for_link_url_resource_keywords'},:frequency => 0.1,:after_update_element =>
        "function(element,value){" + remote_function(:url => {:action => :create},:with=>"'keywords='+element.value") + "}"%>
      <div><%= link_to "新增一个搜索链接结果",new_user_link_url_resource_path(current_user),:popup => true%></div>
    </div>
    <div id="search_twitter" style="display:none">
      <p>
        <%= link_to_remote "搜索链接",:url => {:action => :search_link_url} %>
        搜索人们呓语什么
      </p>
      <% form_tag :controller => :searched_contents,:action => :show do%>
        <%= text_field :twitter_resource,:content,:size => 46%>
        <%=submit_tag "搜索" %>
      <% end %>
      <div>
        <%= link_to "新增一条呓语",user_path(current_user),:popup => true%>
      </div>
    </div>
  </div>
</div>

<div id="main">
  <div>价值点数最高的用户：
    <% for u in @top_users %>
      <%=link_to u.nick_name,user_path(u) %>(<%= u.value %>)
    <% end %>
    <p> <%= link_to_remote "更多，世界说>>>",:url => {:action => :about_all_keywords } %>
    </p>
    <div id="more" style="display:none">
      <p>来自世界的最新话题： <% for keyword in @new_keywords %>
          <span><%= link_to "#{keyword}","/keyword_pages/#{KeywordPage.find_by_keyword(keyword).id}",:popup => true,:class => "keywords" %>
          </span>
        <% end %>
      </p>
      价值点数较高的用户话题：
       <% for keyword in @high_keywords %>
          <span><%= link_to "#{keyword}","/keyword_pages/#{KeywordPage.find_by_keyword(keyword).id}",:popup => true,:class => "keywords" %>
          </span>
        <% end %>
    </div>
  </div>
  <div>
    <p>当您幸运的发现没有出现自动提示的关键字时，就意味着您自己可以任意编辑该关键字的内容，从而被别人看见。
    </p>
  </div>
  <%= render :partial => "shared/footer" %>
</div>