<div id="header">
  <div id="logo2">
    <h1><%= link_to "Mikl",new_searched_keyword_path %><%= link_to_me %></h1>
    <div id="search_link_url">
      <p>
        搜索领域
        <%= link_to_remote "全站搜索",:url => {:action => :search_twitter}%>
      </p>
      <%= text_field 'keyword_page','keyword',:size => 40 %>
      <div class="auto_complete" id="keyword_page_keyword_auto_complete">
      </div>
      <%= auto_complete_field :keyword_page_keyword,:url => {:action => 'auto_complete_for_keyword_page_keyword'},:frequency => 0.1,:after_update_element =>
        "function(element,value){" + remote_function(:url => {:action => :create},:with=>"'keyword='+element.value") + "}"%>
      <div><%= link_to "查看全部领域",keyword_pages_path,:popup => true%></div>
    </div>

    <div id="search_twitter" style="display:none">
      <p>
        <%= link_to_remote "搜索领域",:url => {:action => :search_link_url} %>
        全站搜索
      </p>
      <% form_tag :controller => :searched_contents,:action => :show do%>
        <%= text_field :resource,:content,:size => 40%>
        <%=submit_tag "搜索" %>
      <% end %>
    </div>

  </div>
</div>

<div id="main">

  <%= render :partial => "shared/footer" %>
</div>
