<div class="sb_ph"><h1>找到以下音乐：</h1>
  <span>共 <%= @music_results.count %> 条</span><span class="sc_bullet">·</span>
  <%= link_to "新建一个搜索结果条目>>>",new_user_link_url_resource_path(current_user) %>
</div>
<div id="results">
  <ol class="sb_results" id="wg0">
    <%= render  :partial => "film_result",:collection => @music_results %>
  </ol>
</div>
<div class="sb_pag"><ul><li><%= link_to "1" %></li><li><%= link_to "下一页" %></li></ul></div>
