<h2>
  我在行的</h2>
<ul>
  <% for k in current_user.appear_keyword_pages %>
    <li>
      <span id="keyword_page"><%=link_to k.keyword,keyword_page_path(KeywordPage.find_by_keyword(k.keyword)) %></span>
      <!--
      隐藏关键字的功能，暂时不打算使用
      <% if current_user.value_orders.find_by_keyword_page_id(k).hidden==false%>
          <strong><%=link_to k.keyword,keyword_page_path(k) %></strong><span class="little_white"><%= link_to "  隐藏  ",:controller => :keyword_pages,:action => :hide_field,:id => k%></span>
      <% else %>
        <%= k.keyword %> <strong>(已隐藏)</strong><span class="little_white"><%= link_to "恢复",:controller => :keyword_pages,:action => :appear_field,:id => k %></span>
      <% end %>
      -->
      <cite><%= k.field_value(current_user) %></cite>,排名：(<span class="highlight"><%= ValueOrder.order(current_user,KeywordPage.find_by_keyword(k.keyword)) %></span>/<%= k.active_users.size %>)
      
    </li>
  <% end %>
</ul>