<%= stylesheet_link_tag "result"  %>
<body>
  <div style="background-image: url(/images/j2.jpg); opacity: 1" id="sw_im">
  </div>
  <div id="sw_page">
    <div id="sw_hdr">
      <div class="sw_tb">
        <ul>
          <li>
            <%= link_to "Michael",keyword_pages_path %>
          </li>
          <li>
            <%= link_to_me %>
          </li>
          <% if not logged_in? %>
            <li>
              <%= link_to "登录",new_session_path %>
            </li>
          <% end %>
          <li>
            <%= link_to "注册新用户",new_user_path %>
          </li>
        </ul>
      </div>
      <div class="sw_tbb"></div>
      <div class="sw_box">
        <h2><%= link_to "Mikl.Me",keyword_pages_path,:class => "sw_logo"%>
        </h2>
        <div class="sw_bd">


          <% form_tag :controller => :searched_contents,:action => :show do%>
            <%= text_field 'keyword_page','keyword',:size => 40 %>
            <div class="auto_complete" id="keyword_page_keyword_auto_complete">
            </div>
            <%= auto_complete_field :keyword_page_keyword,:url => {:action => 'auto_complete_for_keyword_page_keyword'},:after_update_element =>
              "function(element,value){" + remote_function(:url => {:action => :redirect},:with=>"'keyword='+element.value") + "}"%>
            <%=submit_tag "搜索全部" %>
          <% end %>

        </div>
      </div>
    </div>
    <div id="sw_content">
      <div id="sw_canvas">
        <div id="sw_aside">
          <div id="sw_nav">

          </div>
        </div>
        <div id="content">
          <% if flash[:notice].present? %>
            <p>
              <strong><%=h flash[:notice] %></strong>
            </p>
          <% end %>
          <% if logged_in? %>
            <% if current_user.total_value>20 %>
              <div class="item_blue">
                创立关键字时，关键字名称请保持简洁、准确（最长为8个汉字）。如：“互联网”、“科幻世界”、“金融学“等。
                英文关键字名、名词除外。
                <% form_for [@user,@keyword_page] do |f| %>
                  <div>
                    <%= f.error_messages %>
                  </div>
                  <p>
                    <%= f.text_field :keyword,:size => 20 %>
                    <%= f.submit "创建这个关键字" %>
                  </p>
                  <%= f.check_box :long_keyword %>
                  <%= f.label :long_keyword,"关键字名称为电影、书籍、音乐名称等名词，或为英文关键字名" %>
                <% end %>
              </div>
            <% else %>
              <div class="item_blue">
                创立关键字时，关键字名称请保持简洁、准确（最长为8个汉字）。如：“互联网”、“科幻世界”、“金融学“等。
                英文关键字、名词除外。
                <% form_for [@user,@keyword_page] do |f| %>
                  <div>
                    <%= f.error_messages %>
                  </div>
                  <p>
                    <%= f.text_field :keyword,:size => 20,:disabled => true %>
                    <%= f.submit "创建这个关键字" %>
                  </p>
                <% end %>
                <cite>对不起，只有总声望值大于20时才能创立关键字</cite>
              </div>
            <% end %>
          <% end %>
          <h2 class="item_pink">你在想什么?</h2>
          <% if @hot_keyword_pages.present? %>
            <table>
              <tr><th>最近更新的关键字</th><th>最新创立关键字</th><th>想法最多关键字</th><th>女生最多关键字</th></tr>
              <tr><td>
                  <ol>
                    <% for k in @hot_keyword_pages %>
                      <li>
                        <%=link_to k.keyword,keyword_page_path(k),:popup => true %>
                      </li>
                    <% end %>
                  </ol>
                </td>
                <td>
                  <ol>
                    <% for k in @new_keyword_pages %>
                      <li>
                        <%= link_to k.keyword,keyword_page_path(k),:popup => true %>
                      </li>
                    <% end %>
                  </ol>
                </td>
                <td>
                  <ol>
                    <% for k in @many_resources_keyword_pages %>
                      <li>
                        <%= link_to k.keyword,keyword_page_path(k),:popup => true %>
                      </li>
                    <% end %>
                  </ol>
                </td>
                <td>
                  <ol>
                    <% for p in @girls_pages %>
                      <li>
                        <%= link_to_page(p) %>
                      </li>
                    <% end %>
                  </ol>
                </td></tr>
            </table>
          <% end %>
        </div></div></div></div>
  <%= render :partial => "shared/footer" %>
</body>
