<%= stylesheet_link_tag "result"  %>
<body>
  <div style="background-image: url(/images/j2.jpg); opacity: 1" id="sw_im">
  </div>
  <div id="sw_page">
    <div id="sw_hdr">
      <div class="sw_tb">
        <% if logged_in? %>
          <%= render :partial => "shared/keyword_page_header",:object => current_user %>
        <% else %>
          <%= render :partial => "shared/keyword_page_header"%>
        <% end %>
      </div>
      <div class="sw_tbb"></div>
      <div class="sw_box">
        <h2><%= link_to "",keyword_pages_path,:class => "sw_logo"%>
        </h2>
        <div class="sw_bd">


<%# form_tag :controller => :searched_contents,:action => :show do%>
          搜索关键字,很好用：
          <%= text_field 'keyword_page','keyword',:size => 40 %>
          <div class="auto_complete" id="keyword_page_keyword_auto_complete">
          </div>
          <%= auto_complete_field :keyword_page_keyword,:url => {:action => 'auto_complete_for_keyword_page_keyword'},:after_update_element =>
            "function(element,value){" + remote_function(:url => {:action => :redirect},:with=>"'keyword='+element.value") + "}"%>
<%#=submit_tag "搜索全部" %>
<%# end %>

        </div>
      </div>
    </div>
    <div id="sw_content">
      <div id="sw_canvas">
        <div id="sw_aside">
          <div id="sc_expPane">
            <div class="sw_menu" id="sw_rel">
              <% if @recent_keyword_pages.present? %>
                <div id="girl" style="display:none">
                  <%=render :partial => "girls_keyword_pages" %>
                </div>
                <div id="recent">
                  <%=render :partial => "recent_keyword_pages" %>
                </div>
                <div id="top">
                  <%=render :partial => "top_users" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div id="content">
          <% if flash[:notice].present? %>
            <p>
              <strong><%=h flash[:notice] %></strong>
            </p>
          <% end %>
          <h2 class="title_1"><%= link_to "欢迎进入Michael" %></h2>
          <h3>Michael的科技在于他对于现实的模拟，我们可以加速模拟现实当中人们发表言论，获得认可，建立声望，功成名就的过程。在Michael中，你要做的全部只是贡献一些你认为具有价值的想法。</h3>
          <h2 class="title_2"><%= link_to_remote "关键字>>>",:url => {:action => :keywords} %></h2>
          <div id="about_keyword" style="display:none">
            <h3>一个关键字可以是现实当中的学科、行业、专业领域。现实中我们总会在意行业权威或是意见领袖的看法。类似的，在关键字页面中，我们会优先看到<cite>声望值</cite>高的人的言论。就像这样：
              <div><%= image_tag "value.jpe"%></div>
              在最上面可以搜索已有的关键字。
            </h3>
            <% if logged_in? %>
              <h3> 如果没有，你可以 <%= link_to_remote "新建一个>>>" ,:url => {:action => :show_hidden}%></h3>
              <div class="item_blue" id="hidden" style="display:none">
                请确保你能够为这个关键字提供一些有价值的信息。（最长8个汉字）
                <% form_for [@user,@keyword_page] do |f| %>
                  <div>
                    <%= f.error_messages %>
                  </div>
                  <p>
                    <%= f.text_field :keyword,:size => 20 %>
                    <%= f.submit "创建这个关键字" %>
                  </p>
                  <%= f.check_box :long_keyword %>
                  <%= f.label :long_keyword,"关键字名称为电影、书籍、音乐名称等名词，或为英文关键字名" %>
                <% end %>
              </div>
            <% end %>
          </div>
          <h2 class="title_3"><%= link_to_remote "声望>>>",:url => {:action => :value}%></h2>
          <div id="about_value" style="display:none">
            <h3>在现实当中，排除传媒等因素，人们建立声望的过程常常是别人对于自己观点、想法认可的过程。
              在Michael这里，你可以在评论中表明你的态度，这会影响他的声望：
              <div><%= image_tag "attitude.jpg"%></div>
            </h3>
            <h3>
              现实中有这样一些现象：声望较高的人对某事的态度会产生更大的影响；一个人对另一个人的盛赞最多能使那个人变得和自己一样有名，而不是比自己更有名；
              只有一个人否定另外一个人不会对他造成太恶劣的影响，而一群人否定一个人就会使他的声望受到很大影响；同时，一个很有名望的人否定一个普通人，对于普通人造成的影响也不容忽视。
            </h3>
            <h3>Michael建立了一套数学模型，用来估算这些现象对于一个人声望造成的影响。具体的你不用关心，你只看你名字旁边那个<cite>绿色</cite>的声望值就行了。</h3>
            <h3>同样的，在现实中，你认为一个人做饭做得好吃代表他英语学的好吗？不会的。因此你在各关键字内的声望互不影响。</h3>
          </div>
          <% if @many_user_keyword_pages.present? %>
            <p>来看看大家都在想什么吧：</p>
            <% for p in @many_user_keyword_pages %>
              <h2 class="item_pink">关键字：<span id="keyword_page"><%= link_to_page(p) %> · · · · · ·</span></h2>
              <ul class="sb_results" id="wg0">
                <% for resource in p.good_resources %>
                  <li>
                    <table>
                      <tbody>
                        <tr>
                          <td width="500">
                            <p>
                              <%=simple_format(auto_link(resource.content))%>
                            </p>
                            <br />
                            <%= link_to "回应>>>", user_resource_comments_path(resource.owner,resource),:popup => true %>
                            <span class="amount">(<%=resource.comments.size  %>)</span>
                          </td>
                          <td width="80">
                            <%= link_to resource.owner.nick_name,user_path(resource.owner) %><div><cite>关键字声望：<%=resource.owner.field_value(resource.keyword_page)%></cite></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div></div></div></div>
  <%= render :partial => "shared/footer" %>
</body>
