<%= stylesheet_link_tag "result"  %>
<body>
  <div style="background-image: url(/images/j2.jpg); opacity: 1" id="sw_im">
  </div>
  <div id="sw_page">
    <div id="sw_hdr">
      <div class="sw_tb">
        <% if logged_in? %>
          <%= render :partial => "shared/keyword_page_header",:object => current_user %>
        <% else %>
          <%= render :partial => "shared/keyword_page_header"%>
        <% end %>
      </div>
      <div class="sw_tbb"></div>
      <div class="sw_box">
        <h2><%= link_to "",keyword_pages_path,:class => "sw_logo"%>
        </h2>
        <div class="sw_bd">


<%# form_tag :controller => :searched_contents,:action => :show do%>
          搜索关键字,很好用：
          <%= text_field 'keyword_page','keyword',:size => 40 %>
          <div class="auto_complete" id="keyword_page_keyword_auto_complete">
          </div>
          <%= auto_complete_field :keyword_page_keyword,:url => {:action => 'auto_complete_for_keyword_page_keyword'},:after_update_element =>
            "function(element,value){" + remote_function(:url => {:action => :redirect},:with=>"'keyword='+element.value") + "}"%>
<%#=submit_tag "搜索全部" %>
<%# end %>

        </div>
      </div>
    </div>
    <div id="sw_content">
      <div id="sw_canvas">
        <div id="sw_aside">
          <div id="sc_expPane">
            <div class="sw_menu" id="sw_rel">
            </div>
          </div>
        </div>
        <div id="content">
          <% if flash[:notice].present? %>
            <p>
              <strong><%=h flash[:notice] %></strong>
            </p>
          <% end %>
          <h2 class="title_1"><%= link_to "欢迎来到Michael" %></h2>
          <h3>Michael拥有一种科技，利用它，我们可以加速模拟现实当中，人们发表言论，获得认可，建立声望，功成名就的过程。在这里，你要做的只是发表你的想法，通过Michael的一些“魔法”，一段时间后你会看到你的声望值，它尽可能精确地反应了你在某一方面的知识水平与被认可程度。...简直就是另一个现实。</h3>
          <h2 class="title_2"><%= link_to_remote "关键字",:url => {:action => :keywords} %></h2>
          <h3>你的每个想法都需要围绕一个关键字展开，它可以是你的兴趣，爱好，特长，职业等等等等。在最上面可以搜索已有的关键字。
            <% if logged_in? %>
            </h3><h3> 如果没有，你可以 <%= link_to_remote "新建一个>>>" ,:url => {:action => :show_hidden}%></h3>
            <div class="item_blue" id="hidden" style="display:none">
              创立关键字时，关键字名称请保持简洁、准确（最长为8个汉字）。如：“互联网”、“科幻世界”、“金融学“等。
              英文关键字名、名词除外。
              <% form_for [@user,@keyword_page] do |f| %>
                <div>
                  <%= f.error_messages %>
                </div>
                <p>
                  <%= f.text_field :keyword,:size => 20 %>
                  <%= f.submit "创建这个关键字" %>
                </p>
                <%= f.check_box :long_keyword %>
                <%= f.label :long_keyword,"关键字名称为电影、书籍、音乐名称等名词，或为英文关键字名" %>
              <% end %>
            </div>
          <% end %>
          <h2 class="title_3"><%= link_to "声望" %></h2>
          <h3>不同的关键字内你的声望不同，各个声望互不影响，在语文方面的蹩脚想法不影响你在数学上的崇高地位，不用担心。</h3>
          <% if @recent_resources.present? %>
            <h2 class="item_pink">大家在想什么?</h2>
            <ol class="sb_results" id="wg0">
              <% for resource in @recent_resources %>
                <li>
                  <table>
                    <tbody>
                      <tr>
                        <td width="500">
                          <p>
                            <%=simple_format(auto_link(resource.content))%>
                          </p>
                          <span class="sb_meta">关键字：<span id="keyword_page"><%=link_to_page resource.keyword_page %></span></span>
                          <br />
                          <%= link_to "回应>>>", user_resource_comments_path(resource.owner,resource),:popup => true %>
                          <span class="amount">(<%=resource.comments.size  %>)</span>
                        </td>
                        <td width="80">
                          <%= link_to resource.owner.nick_name,user_path(resource.owner) %><div><cite>关键字声望：<%=resource.owner.field_value(resource.keyword_page)%></cite></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </li>
              <% end %>

            </ol>
          <% end %>
        </div></div></div></div>
  <%= render :partial => "shared/footer" %>
</body>
