<%= stylesheet_link_tag "result"  %>
<body>
  <div style="background-image: url(/images/j2.jpg); opacity: 1" id="sw_im">
  </div>
  <div id="sw_page">
    <div id="sw_hdr">
      <div class="sw_tb">
        <% if logged_in? %>
          <%= render :partial => "shared/keyword_page_header",:object => current_user %>
        <% else %>
          <%= render :partial => "shared/keyword_page_header"%>
        <% end %>
      </div>
      <div class="sw_tbb"></div>
      <div class="sw_box">
        <h2><%= link_to "",keyword_pages_path,:class => "sw_logo"%>
        </h2>
        <div class="sw_bd">

          <%= render :partial => "shared/search_bar" %>
        </div>
      </div>
    </div>
    <div id="sw_content">
      <div id="sw_canvas">
        <div id="sw_aside">
          <div id="sc_expPane">
            <div class="sw_menu" id="sw_rel">
              <div id="recent">
                <%=render :partial => "recent_keyword_pages" %>
              </div>
            </div>
          </div>
        </div>
        <div id="content">
            <%   if flash[:notice].present?%>  <p class="notice"><%=flash[:notice] %></p>  <% end %>
            <%   if flash[:error].present?%> <p class="error"> <%=flash[:error]  %></p> <% end %>
            <div id="welcome">
            <h2 class="title_1"><%= link_to "欢迎来到Michael" %></h2>
            <p>在这里，Michael会智能地判断你在哪方面较为擅长。就像 <%= link_to_remote "这样>>>",:url => {:action => :toggle_blind,:id => "like_this"} %>。你要做的全部：
            </p>
            <div id="like_this" style="display:none">
              <table>
                <th>
                <tr>
                  <td>            <%= image_tag "like_this.jpg" %>
                  </td>
                  <td width="300px"><h3>点击左上方的"我的主页"，在你的主页的右边，你可能会看到这个。这是你曾经参与过的贴吧。Michael会神奇地依据你发表内容的价值判断出你在这个贴吧内的声望</h3></td>
                </tr>
                </th>
              </table>
            </div>
            <ol>
              <li>
                进入一个自己感兴趣的
                <span class="title_2"><%= link_to_remote "贴吧>>>(?)",:url => {:action => :toggle_blind,:id => "about_keyword"} %></span>;
                <div id="about_keyword" style="display:none">
                  <h3>Michael判断的依据在于他对现实的模拟。
                    现实中我们总会在意某方面的行业权威或是意见领袖的看法。类似的，在贴吧中，帖子按照<cite>声望值</cite>来排序。就像这样：
                    <div><%= image_tag "value.jpe"%></div>
                    在上方的输入框中可以方便的进入某一贴吧，并且输入时还会自动提示类似的贴吧。
                  </h3>
                </div>
              </li>
              <li>
                在这个贴吧中，可以邀请一些对这个贴吧感兴趣的朋友(邀请链接在贴吧页面中)一起参与。一定活跃人数是Michael完成后台计算的基础;
              </li>
              <li>
                注意你在这个贴吧内的<span class="title_3"><%= link_to_remote "声望>>>(?)",:url => {:action => :toggle_blind,:id => "about_value"}%></span>，你和大家参与的越多，声望值就越准确。<cite>它尽可能精确地反应了你在这一贴吧内的地位与被认可程度。</cite>
                <div id="about_value" style="display:none">
                  <h3>Michael的科技在于他对现实的模拟。在现实当中，排除传媒等因素，人们建立声望的过程常常是别人对于自己观点、想法认可的过程。
                    在Michael这里，你可以在评论中表明你是否认可他的想法，这会影响他的声望：
                    <div><%= image_tag "attitude.jpg"%></div>
                  </h3>
                  <h3>
                    现实中有这样一些现象：声望较高的人对某事的态度会产生更大的影响；一个人对另一个人的盛赞最多能使那个人变得和自己一样有名，而不是比自己更有名；
                    只有一个人否定另外一个人不会对他造成太恶劣的影响，而一群人否定一个人就会使他的声望受到很大影响；同时，一个很有名望的人否定一个普通人，对于普通人造成的影响也不容忽视。
                  </h3>
                  <h3>Michael建立了一套数学模型，用来估算这些现象对于一个人声望造成的影响。具体的你不用关心，你只看你名字旁边那个<cite>绿色</cite>的声望值就行了。</h3>
                  <h3>同样的，在现实中，你认为一个人做饭做得好吃代表他英语学的好吗？不会的。因此你在各贴吧内的声望互不影响。</h3>
                </div>
              </li>
            </ol>
          </div>
          <% for p in @many_user_keyword_pages %>
            <%= render :partial => "keyword_page_index",:object => p%>
          <% end %>
          <div id="more_pages">
            <h2 class="more"><%= link_to_remote  " 更多· · ·",:url => {:action => :more_pages} %></h2>
          </div>
        </div></div></div></div>
  <%= render :partial => "shared/footer" %>
</body>
