<div class="item_blue">
  <p>规则：在这个页面内，各种和<strong><%=@keyword_page.keyword%></strong>有关的想法都汇集在了一起。声望值(<cite>绿色</cite>数字)是这些想法排序的<strong>唯一依据</strong>。
    声望最高的人和他的想法排列在首位，并以此类推。你在各个关键字内的声望<strong>互不影响</strong>。</p>
  <p>你可以<cite>提高</cite>／<strong>降低</strong>某人声望（通过"回他一招>>>"页面，<cite>提高</cite>／<strong>降低</strong>数值和你的声望值成正比）。
  </p>

</p>
</div>
<% if logged_in? and current_user.controlled_keywords.include?(@keyword_page.keyword).present? %>
  <div class="item_blue">你是老大。因此：
    <ul>
      <li>
        <span>你能够<%=link_to "修改相关关键字",keyword_page_related_keywords_path(@keyword_page),:popup => ['修改相关关键字', 'height=500,width=450'] %>
        </span>，如果这样，这个关键字的条目就容易被相关关键字的人看到。
      </li>
      <li>
        请注意自己言论的影响，以及出手轻重。
      </li>
    </ul>
  </div>
<% end %>
<div class="item_pink"><%= link_to_remote "迅速提升在”#{@keyword_page.keyword}“中声望/邀请好友>>>",:url => {:controller => :comments,:action => :show_hidden} %>
  <ul id="notice" style="display:none">
    <li>
      被人施以好评，声望提高；（"回他一招>>>"页面）
    </li>
    <li>
      被更多人关注，声望提高。（请勿尝试马甲刷分等行为）。
      <% if logged_in? and current_user.keyword_pages.include?(@keyword_page)%>
        可以发送这些话邀请你的好友，好友注册后，会自动关注你：
        <p class="item_pink"><cite>真实朋友:</cite>我<%= current_user.name %>，在玩一个很独特的应用，你也赶快来试试：<%= "http://mikl.me/users/new/#{current_user.id}/#{ValueOrder.find_by_user_id_and_keyword_page_id(current_user.id,@keyword_page.id).id}/realfriend" %></p>
        <p class="item_pink"><cite>匿名网友:</cite>我发现了一个很独特的平台，你快点注册，关注我一下：<%= "http://mikl.me/users/new/#{current_user.id}/#{ValueOrder.find_by_user_id_and_keyword_page_id(current_user.id,@keyword_page.id).id}/commonfriend" %></p>
      <% end %>
    </li>
  </ul>
</div>

<div class="sb_ph">

  共 <%= @resources.size %> 条 <!--
有趣的分割点
<span class="sc_bullet">·</span>%>
  -->
</div>

<div id="form">
  <% if logged_in? %>
    关于<strong><%= @keyword_page.keyword %></strong>，你能想到什么?长短均可。

    <% remote_form_for [@user,@blog_resource] do |f|%>
      <strong><%= f.error_messages %>
      </strong>
      <p><%= f.text_area :content,:cols => 45,:rows => 4 %>
        <!--
        靠，先不用这个了
        <li>
    <%#= fckeditor_textarea(:blog_resource,:content,:toolbarSet => "Easy",:width => '85%',:height => '150px') %>
        </li>
        -->
        <%= f.submit "完成",:class => "big_button"  %>
      <% end %>
    <% end %>
</div>
<div id="succeed" style="display:none">
  <p>你也可以点击<%= link_to_remote ">这里",:url => {:controller => :blog_resources,:action => "say"} %>继续发言</p>
</div>
<!--
基本没用了
<span class="sb_pag">
<%= link_to "默认排序",keyword_page_path(@keyword_page) %>
<%= link_to "按发表时间排序",by_time_keyword_page_path(@keyword_page)%></span>
-->
<div id="results">

  <ol class="sb_results" id="wg0">
    <% for u in @users %>
      <%= render :partial => "resources/resource",:object => u.resources.find(:first,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id}) %>
      <%= render  :partial => "blog_resources/blog_resource",:collection => u.resources.find(:all,:limit => 2,:offset => 1,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id})  %>
      <% if u.resources.find(:all,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id}).size>3 %>
        <li>
          <div class="margin_left" id="keyword_page"><%= link_to_remote "展开更多>>",:url => {:action => :more,:id => u.id}%>
          </div>
        </li>
      <% end %>
      <%= render  :partial => "blog_resources/hidden_blog_resource",:collection => u.resources.find(:all,:limit => 30,:offset => 3,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id})  %>
    <% end %>
  </ol>
</div>
<div class="sb_pag">
  <%= will_paginate @users, :prev_label => '上一页', :next_label => '下一页' %>
</div>
