<% if logged_in? and @keyword_page.users.include?(current_user) %>
  <div class="item_blue">
    Michael计算你在<span id="keyword_page">这个关键字</span>的<cite>声望</cite>需要一定活跃人数，赶快邀请朋友们吧：
    <ul>
      <li>
        <p class="item_blue">真实朋友：我<%= current_user.name %>，在玩一个很独特的应用，你也赶快来试试：<%= "http://mikl.me/users/new/#{current_user.id}/#{ValueOrder.find_by_user_id_and_keyword_page_id(current_user.id,@keyword_page.id).id}/realfriend" %></p>
        <p class="item_blue">匿名网友：我发现了一个很独特的平台，你快点注册，关注我一下：<%= "http://mikl.me/users/new/#{current_user.id}/#{ValueOrder.find_by_user_id_and_keyword_page_id(current_user.id,@keyword_page.id).id}/commonfriend" %></p>
      </li>
    </ul>
  </div>
<% end %>

<!--
有趣的分割点
<span class="sc_bullet">·</span>%>
-->
<%= render :partial => "form" %>
<div ><span class="sb_pag">
    <%= link_to "默认排序",keyword_page_path(@keyword_page) %>
    <%= link_to_remote "查看最新",:url => {:action => :by_time,:id => @keyword_page}%></span></div>
<div id="results">
  <ol class="sb_results" id="wg0">
    <% for u in @users %>
      <%= render :partial => "resources/resource",:object => u.resources.find(:first,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id}) %>
      <%= render  :partial => "blog_resources/blog_resource",:collection => u.resources.find(:all,:limit => 3,:offset => 1,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id})  %>
      <% if u.resources.find(:all,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id}).size>4 %>
        <li>
          <div class="margin_left" id="keyword_page"><%= link_to_remote '展开他的更早发言>>',:url => {:action => :more,:id => u.id,:keyword_page_id => @keyword_page.id}%>
          </div>
        </li>
      <% end %>
      <%= render  :partial => "blog_resources/hidden_blog_resource",:collection => u.resources.find(:all,:limit => 45,:offset => 4,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id})  %>
    <% end %>
  </ol>
  <div class="sb_pag">
    <%= will_paginate @users, :prev_label => '上一页', :next_label => '下一页' %>
  </div>
</div>

