<% if current_user.controlled_keywords.include?(@keyword_page.keyword).present? %>
  <div><cite>恭喜！根据价值点数的高低，该关键字的第一个排位是你分享的资源</cite>，因此，你可以：</div>
  <ul>
    <li>
      <em><%=link_to "修改相关关键字",keyword_page_related_keywords_path(@keyword_page),:popup => ['修改相关关键字', 'height=500,width=450'] %>
      </em>
    </li>
    <li>
      <em>在所有有关该关键字的讨论页面中用红字发表意见</em>
    </li>
    <li>
      <em> 获得更多关注，提高价值点数，获得更靠前的排位。</em>
    </li>
  </ul>
<% end %>
<div class="sb_ph"><h1>所有结果</h1>
  <span>共 <%=h @link_url_resources.count %> 条</span><span class="sc_bullet">·</span>
  <%= link_to "新建一个搜索结果条目",new_user_link_url_resource_path(current_user) %>
  <span class="sc_bullet">·</span>
  <%= link_to "新建一个单独的关键字",user_path(current_user) %>
</div>
<div id="results">
  <ol class="sb_results" id="wg0">
    <%if @twitter_resource.present? %>
      以下为 <%=h @twitter_resource.owner.nick_name %>不包含链接的单一关键字及相关回复。
      <%= render @twitter_resource %>
    <% end %>
    <%= render  @link_url_resources  %>
  </ol>
</div>
<div class="sb_pag">
      <%= will_paginate @link_url_resources, :prev_label => '上一页', :next_label => '下一页' %>
</div>
