<% if current_user.controlled_keywords.include?(@keyword_page.keyword).present? %>
  <div><cite>恭喜！该关键字的第一个排位是你分享的资源</cite>，因此，你可以：</div>
  <ul>
    <li>
      <em><%=link_to "修改相关关键字",keyword_page_related_keywords_path(@keyword_page),:popup => ['修改相关关键字', 'height=300,width=600'] %>
      </em>
    </li>
    <li>
      <em>在所有有关该关键字的讨论页面中用红字发表意见</em>
    </li>
    <li>
      <em> 获得更多关注，提高价值点数，获得更靠前的排位。</em>
    </li>
  </ul>
<% end %>
<div class="sb_ph"><h1>所有结果</h1>
  <span class="sb_count" id="count">共 394,000 条</span><span class="sc_bullet">·</span>高级
</div>
<div id="results">
  <ol class="sb_results" id="wg0">
    <%if @twitter_resource.present? %>
      以下为 <%= @twitter_resource.owner.nick_name %>的呓语。
      <%= render @twitter_resource %>
    <% end %>
    <%= render  @link_url_resources  %>
  </ol>
</div>
<div class="sb_pag"><ul><li><%= link_to "1" %></li><li><%= link_to "下一页" %></li></ul></div>
