<div id="header">
  <div id="title">
    <h1><%= link_to "Mikl",new_user_searched_keyword_path(current_user) %><%= @keyword_page.keyword %>的搜索结果<%= link_to ".Me",user_path(current_user) %></h1>
  </div>
</div>
<div id="sidenav">
  <h2>
    选择
  </h2>
  <ul>
    <li>
      <%= link_to_unless_current "name"%>
    </li>
  </ul>
</div>
<div id="content">
  
  <h3>相关关键字:</h3>
  <div class="item">
    <% if not @related_keywords.blank? %>
      <% for related_keyword in @related_keywords %>
        <span>
          <%= link_to related_keyword.name,"/keyword_pages/#{KeywordPage.find_by_keyword(related_keyword.name).id}",:popup => true %>
        </span>
      <% end %>
    <% end %>
  </div>

  <%if @twitter_resource.present? %>
    <p>以下为 <%= @twitter_resource.owner.nick_name %>的呓语。</p>
    <%= render @twitter_resource %>
  <% end %>
  <ol>
    <%= render  @link_url_resources  %>
  </ol>
</div>



