<div class="item_blue">
  <p>在这个页面内，声望值(<cite>绿色</cite>)是这些想法排序的<strong>唯一依据</strong>。
    声望最高的人和他的想法排列在首位，并以此类推。
  </p>
  <p>你在各个关键字内的声望<strong>互不影响</strong>。</p>
</div>
<% if logged_in? and @keyword_page.users.include?(current_user) %>
  <div class="item_pink">
    请记住，Mikl.me判断你的声望始终有一点基础：这个关键字需要有多人参与。所以，请<%= link_to_remote "邀请更多人>>>",:url => {:controller => :comments,:action => :show_hidden} %>
    <ul id="notice" style="display:none">
      <li>
        <p class="item_pink"><cite>真实朋友:</cite>我<%= current_user.name %>，在玩一个很独特的应用，你也赶快来试试：<%= "http://mikl.me/users/new/#{current_user.id}/#{ValueOrder.find_by_user_id_and_keyword_page_id(current_user.id,@keyword_page.id).id}/realfriend" %></p>
        <p class="item_pink"><cite>匿名网友:</cite>我发现了一个很独特的平台，你快点注册，关注我一下：<%= "http://mikl.me/users/new/#{current_user.id}/#{ValueOrder.find_by_user_id_and_keyword_page_id(current_user.id,@keyword_page.id).id}/commonfriend" %></p>
      </li>
    </ul>
  </div>
<% end %>


<div class="sb_ph">

  共 <%= @resources.size %> 条 <!--
有趣的分割点
<span class="sc_bullet">·</span>%>
  -->
</div>

<div id="form">
  <% if logged_in? %>
    关于<strong><%= @keyword_page.keyword %></strong>，你能想到什么?Mikl.me拥有这样一种科技：它将根据你想法的价值<strong>智能地</strong>评估出你在这个关键字内的声望。

    <% remote_form_for [@user,@blog_resource] do |f|%>
      <strong><%= f.error_messages %>
      </strong>
      <p><%= f.text_area :content,:cols => 45,:rows => 4 %>
        <!--
        靠，先不用这个了
        <li>git gui
        ddddddddgt
    <%#= fckeditor_textarea(:blog_resource,:content,:toolbarSet => "Easy",:width => '85%',:height => '150px') %>
        </li>
        -->
        <%= f.submit "完成",:class => "big_button"  %>
      <% end %>
    <% end %>
</div>
<div id="succeed" style="display:none">
</div>
<!--
基本没用了
<span class="sb_pag">
<%= link_to "默认排序",keyword_page_path(@keyword_page) %>
<%= link_to "按发表时间排序",by_time_keyword_page_path(@keyword_page)%></span>
-->
<div id="results">

  <ol class="sb_results" id="wg0">
    <% for u in @users %>
      <%= render :partial => "resources/resource",:object => u.resources.find(:first,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id}) %>
      <%= render  :partial => "blog_resources/blog_resource",:collection => u.resources.find(:all,:limit => 4,:offset => 1,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id})  %>
      <% if u.resources.find(:all,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id}).size>5 %>
        <li>
          <div class="margin_left" id="keyword_page"><%= link_to_remote "展开他的更多'想法'>>",:url => {:action => :more,:id => u.id}%>
          </div>
        </li>
      <% end %>
      <%= render  :partial => "blog_resources/hidden_blog_resource",:collection => u.resources.find(:all,:limit => 45,:offset => 5,:order => "created_at DESC",:conditions => {:keyword_page_id => @keyword_page.id})  %>
    <% end %>
  </ol>
</div>
<div class="sb_pag">
  <%= will_paginate @users, :prev_label => '上一页', :next_label => '下一页' %>
</div>
