<p class="item">
  Mikl.me为你呈现了下面这些条目，条目排列的顺序清晰而简单——用户在<strong>该领域内</strong>的价值点数
  的降序排列。
</p>
<% if current_user.present? and current_user.controlled_keywords.include?(@keyword_page.keyword).present? %>
  <div><cite>根据<strong>用户在该领域内价值点数</strong>的高低，你的价值点数在该领域内的所有用户中是最高的。</cite>因此：</div>
  <ul>
    <li>
      <span>你应该仔细<%=link_to "修改相关领域",keyword_page_related_keywords_path(@keyword_page),:popup => ['修改相关领域', 'height=500,width=450'] %>
      </span>，如果这样，你在该领域的条目就容易被相关领域的人看到。
    </li>
    <li>
      <span>在这个领域中的<strong>各个条目</strong>下方的<cite>"n条回应"</cite>页面中用红字发表意见</span>
    </li>
    <li>
      <span>获得更多关注，进一步提高你在<strong>该领域</strong>价值点数</span>
    </li>
  </ul>
<% end %>
<div class="sb_ph"><h1>有关“<%=h @keyword_page.keyword %>”的所有条目</h1>
  <span>共 <%=h @resources.size %> 条</span><span class="sc_bullet">·</span>
  <%= link_to "分享新的条目>>>",new_user_link_url_resource_path(current_user) %>
  <!--
有趣的分割点
<span class="sc_bullet">·</span>%>
  -->
</div>
<div id="results">
  <ol class="sb_results" id="wg0">
    <%= render  :partial => "resources/resource",:collection => @resources  %>
  </ol>
</div>
<div class="sb_pag">
  <%= will_paginate @resources, :prev_label => '上一页', :next_label => '下一页' %>
</div>
