<li>
  <table>
    <tbody>
      <tr>
        <td width="500">
          <h3><%= link_to highlight(blog_resource.title,blog_resource.keywords),user_blog_resource_path(blog_resource.owner,blog_resource),:popup => true%></h3>
              <p>
                <%= highlight(truncate(blog_resource.content,:length => 140),blog_resource.keywords) %>
              </p>
            <ul class="sb_meta">
              <li><cite><%= link_to "#{blog_resource.comments.size}条回应>>>", user_blog_resource_comments_path(blog_resource.owner,blog_resource),:popup => true %></cite></li>
            </ul>
          </td>
          <td width="100">
            <% if  blog_resource.owner == current_user %>
              <div><%= link_to "编辑",edit_user_blog_resource_path(blog_resource.owner,blog_resource),:popup => true %>(关键字：<strong><%= blog_resource.keywords %></strong>)
              </div>
            <% end %>
          </td>
          <td width="80"><%= render "shared/user_profile",:object => blog_resource.owner %>
          </td>
        </tr>
      </tbody>
    </table>
  </li>
