<% form_for [@user,@blog_resource] do |f|%>
  <ul class="sb_results">
    <li>
      <strong><%= f.error_messages %>
        <%= flash[:keyword] %>
        <%= flash[:updated] %>
      </strong>
    </li>
    <li>
    <%= f.label :title,"标题" %><%= f.text_field :title %></li>
    <li>
      <%= fckeditor_textarea(:blog_resource,:content,:toolbarSet => "Easy",:width => '90%',:height => '300px') %>
    </li>
    <li>
      <p>这个条目发布在哪个领域* <%= link_to "管理我的领域",keyword_pages_path,:popup => true %>

      </p>
      <% for k in @ks %>
        <cite>
          <%= f.radio_button :keywords,k.keyword %><%= k.keyword %>
        </cite>
      <% end %>
    </li>
    <!--
    将来或许会有图片型的博客，先留着，默认为文字文档
    <tr><td><%= f.label :form,"请指定目标链接所包含主体内容的类型*：" %></td><td><%= f.select :form,%w{ 文字、文档 视频 图片  音频  }%></td>
    -->

    <li><p><%= f.submit "完成",:onclick => "this.disabled = true"  %></p>
    </li>
  </ul>
<% end %>
