<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Keywords: <%= controller.action_name %></title>
    <%= stylesheet_link_tag "result"  %>
    <%= javascript_include_tag :fckeditor %>
  </head>
  <body>
    <div id="sw_page">
       <div id="sw_hdr">
        <div class="sw_tb"><%= link_to "Michael",keyword_pages_path %><%= link_to_me %></div>
        <div class="sw_tbb"></div>
      </div>
    </div>
    <div id="sw_content">
      <div id="sw_canvas">
        <%= render :partial => "shared/resources_side" %>
        <div id="content">
          <div id="results">
            <% if current_user==@user %>
              <%= link_to_unless_current "链接>>>",new_user_link_url_resource_path(current_user) %><span class="sb_count">（使用方式类似网络书签）</span>
              |  <%= link_to_unless_current "一篇文章>>>",new_user_blog_resource_path(current_user)%><span class="sb_count">（就象写一篇blog或发个帖子）</span>
            <% end %>
            <ul class="sb_results" id="wg0">
              <%= @content_for_layout%>
            </ul>
          </div>
        </div></div></div>
    <%= render :partial => "shared/footer" %>
  </body>
</html>




