<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Keywords: <%= controller.action_name %></title>
    <%= stylesheet_link_tag "result"  %>
  </head>
  <body>
    <div id="sw_page">
      <div id="sw_hdr">
        <div class="sw_tb"><%= link_to "Michael",keyword_pages_path %><%= link_to_me %></div>
        <div class="sw_tbb"></div>
      </div>
    </div>
    <div id="sw_content">
        <div id="sw_canvas">
          <div id="content">
          <div id="results">

            <%= @content_for_layout%>

          </div>
        </div></div></div>
    <%= render :partial => "shared/footer" %>
  </body>
</html>




