<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Keywords: <%= controller.action_name %></title>
    <%= javascript_include_tag :defaults,:cache => true  %>
    <%= stylesheet_link_tag "result"  %>
  </head>
  <body>
    <div style="background-image: url(/images/j2.jpg); opacity: 1" id="sw_im"><div class="sc_idk" id="sw_imL"></div>
      <div class="sw_mbrand sw_drk"></div>
    </div>
    <div id="sw_page">
      <div id="sw_hdr">
        <div class="sw_tb"><%= link_to "Michael",keyword_pages_path %><%= link_to_me %></div>
        <div class="sw_tbb"></div>
      </div>
    </div>
    <div id="sw_content">
      <div id="sw_canvas">
        <div id="sw_aside">
          <div id="sw_nav">
            <ul>
              <li class="sw_navA">
                <%= link_to "按价值点数排序",user_resource_comments_path(@user,@resource) %>
              </li>
              <li class="sw_navA">
                <%= link_to "按时间排序",by_time_user_resource_comments_path(@user,@resource) %>
              </li>
            </ul>
          </div><div id="sc_expPane">
            <div class="sw_menu" id="sw_rel">
              <h2>条目所在领域</h2>
              <cite><%=link_to @resource.keyword_page.keyword,keyword_page_path(KeywordPage.find_by_keyword(@resource.keyword_page.keyword)) %></cite>
              <h2>相关领域</h2>
              <ul>
                <% if not @related_keywords.blank? %>
                  <% for related_keyword in @related_keywords %>
                    <li>
                      <%= link_to highlight(related_keyword.name,@keyword_page.keyword),"/keyword_pages/#{KeywordPage.find_by_keyword(related_keyword.name).id}",:popup => true %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div id="content">
          <% if flash[:notice].present? %>
            <p>
              <strong><%=h flash[:notice] %></strong>
            </p>
          <% end %>
          <%= @content_for_layout %>
          <div class="sb_pag">
            <%= will_paginate @comments, :prev_label => '上一页', :next_label => '下一页' %>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => "shared/footer" %>
  </body>
</html>
