<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Resources: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'default' %>
  </head>
  <body>
    <%= render :partial => "shared/header",:object => @user %>
    <div id="main">
      <div id="content">
        <% if flash[:notice] or flash[:error] %>
          <div id="notice">
            <%= flash[:error] or flash[:notice]%>
          </div>
        <% end %>
        <div id="sidebar">
          <div id="sidebar_top"></div>
          <div id="sidebar_text">
            <h2><%= link_to_unless_current "#{@user.nick_name}掌控的关键字： " %></h2>
            <p>
              <% for keyword in @controlled_keywords  %>
                <span>
                  <%= link_to "#{keyword}","/keyword_pages/#{KeywordPage.find_by_keyword(keyword).id}",:popup => true %>
                </span>
              <% end %>
            </p>
            <h2><%="#{@user.nick_name}朋友圈中谈论最多的关键字："%></h2>
            <p>
              <% for keyword in @keywords  %>
                <span>
                  <%= link_to "#{keyword}","/keyword_pages/#{KeywordPage.find_by_keyword(keyword).id}",:popup => true %>
                </span>
              <% end %>
            </p>
            <h2>
              <%= "#{@user.nick_name}关注的关键字：" %>
            </h2>
            <p>
              <% for keyword in @keywords  %>
                <span>
                  <%= link_to "#{keyword}","/keyword_pages/#{KeywordPage.find_by_keyword(keyword).id}",:popup => true %>
                </span>
              <% end %>
            </p>
          </div>
          <div id="sidebar_bottom"></div>
        </div>
        <%= @content_for_layout %>
      </div>
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>
