<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="Mikl,Michael,Mikl.me,Michael网络,关键字,生命值,在线生命值" name="keywords"/>
    <title>( Michael )</title>
    <%= javascript_include_tag :defaults,:cache => true  %>
    <%= stylesheet_link_tag "result"  %>
  </head>
  <body>
    <div id="sw_page">
      <div id="sw_hdr">
        <div class="sw_tb">
          <% if logged_in? %>
            <%= render :partial => "shared/keyword_page_header",:object => current_user %>
          </div>
        </div>
        <div id="sw_content">

          <div id="sw_aside">
            <div class="sw_menu" id="sw_rel">
              <div><%= my_value %></div>
              <h2>
                最近回应我的
              </h2>
              <%= render :partial => "news/keyword_page_news",:collection => @news %>
            </div>
          </div>
          <div id="content">

            <%   if flash[:notice].present?%>  <p class="notice"><%=flash[:notice] %></p>  <% end %>
            <%   if flash[:error].present?%> <p class="error"> <%=flash[:error]  %></p> <% end %>
            <div id="welcome">
              <%= render :partial => "shared/search_bar" %>
              <div class="item_blue">
                <h2 class="title_1">最真实的游戏——<span class="tiantang">天堂</span>与<span class="diyu">地狱</span></h2>
                <h4>保持耐心，我们这样开始</h4>
                <ol>
                  <li><p>
                      如果你是初次来到mikl.me，或者刚刚注册成功，那么请直接在上面输入“mikl.me第一步”（不含引号）来开始。在今后的任何时候，你都可以输入“mikl.me第一步”这个关键字来进入
                      mikl.me的教程。要知道，“mikl.me第一步”本身就是一个关键字，不过里面的主要内容由开发者而非用户发布而已。进入后你看到景象的和进入其他的任何关键字差不多。
                    </p>
                  </li>
                  <li>
                    <p>在现在或者以后的任何时候，你都可以用下面的链接邀请朋友（可选）。邀请朋友之后，他会自动关注你。要知道，让别人关注你有时是很有用的招数。</p>
                    <p class="item" >我发现了一个独特的应用，你应该对此感到好奇。注册在这里，注册后你就自动关注我了：<%= "http://mikl.me/users/new/#{current_user.id}/" %>
                    </p>
                  </li>
                </ol>
              </div>
            </div>
            <div class="tab">
              <span class="blue_tab"><%= link_to_unless_current "好友的动作" ,keyword_pages_path%></span>
              <p class="item_blue">
              </p>
            </div>
            <ul class="sb_results" id="wg0">
              <%= render :partial => "news/friends_news",:collection=> @friends_news%>
            </ul>
          <% else %>
            <%= render :partial => "shared/keyword_page_header"%>
          </div>
        </div>
        <div id="sw_content">


          <%   if flash[:notice].present?%>  <p class="notice"><%=flash[:notice] %></p>  <% end %>
          <%   if flash[:error].present?%> <p class="error"> <%=flash[:error]  %></p> <% end %>
          <div id="welcome">
            <%= render :partial => "shared/search_bar" %>

            <div class="item_blue">
              <h2 class="title_1">最真实的游戏——<span class="tiantang">天堂</span>与<span class="diyu">地狱</span></h2>
              <h5>别再怀疑，Michael是真的游戏。</h5>
            </div>
          </div>
          <div class="interview">
            <h3 class="register">
              还没有Michael帐户？
              <%= button_to "立刻注册!",new_user_path,:id => "register" %>
            </h3>
            <h3>比拼自我影响力的游戏</h3>
            <p>
              在Michael上，我们游戏的筹码是自己说话的影响力——你越厉害，任何所说的话就会引起越多人的关注，就会有越多人回应自己。想体验振臂一呼，应者云集的感觉吗？
            </p>
            <h3>回应认识和不认识的人</h3>
            <p>
              你可以支持或者攻击别人，这将使他的影响力发生变化。当然前提是你足够强大。
            </p>
            <h3>关注自己感兴趣的人</h3>
            <p>在Michael，你同样可以关注自己的朋友或感兴趣的人，这样你就不会错过他的一举一动，并随时了解他“影响力”的变化。</p>
            <h3>
              在感兴趣的关键字内发言
            </h3>
            <p>
              在上面的输入框中可以进入自己感兴趣的关键字（请留心输入框的自动提示功能，这里的自动提示将比你见过的更加智能）。进入关键字之后，你就能够看到不同影响力的人们围绕这个关键字在说什么，同时你也可以发言，看看自己的影响力和别人相比怎样。
            </p>


          </div>

        <% end %>

        <%= yield %>
      </div></div>
    <%= render :partial => "shared/footer" %>

  </body>
</html>
