<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="Mikl,Michael,Mikl.me,Michael网络,关键字,生命值,在线生命值" name="keywords"/>
    <title>( Michael )</title>
    <%= javascript_include_tag :defaults,:cache => true  %>
    <%= stylesheet_link_tag "result"  %>
  </head>
  <body>
    <div id="sw_page">
      <div id="sw_hdr">
        <div class="sw_tb">
          <% if logged_in? %>
            <%= render :partial => "shared/keyword_page_header",:object => current_user %>
          <% else %>
            <%= render :partial => "shared/keyword_page_header"%>
          <% end %>
        </div>
      </div>
      <div id="sw_content">

        <div id="sw_aside">
          <div id="sc_expPane">
            <div class="sw_menu" id="sw_rel">
              <div><%= my_value %></div>
              <% if logged_in? %>
                <h2>
                  最近回应我的
                </h2>
                <%= render :partial => "news/keyword_page_news",:collection => @news %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="content">

          <%   if flash[:notice].present?%>  <p class="notice"><%=flash[:notice] %></p>  <% end %>
          <%   if flash[:error].present?%> <p class="error"> <%=flash[:error]  %></p> <% end %>
          <div id="welcome">
            <%= render :partial => "shared/search_bar" %>
            <h2 class="title_1">最真实的游戏——<span class="tiantang">天堂</span>与<span class="diyu">地狱</span></h2>
            <div class="item_blue">
              <h2>说明：</h2>
              <ol>
                <li>
                  <p>这里有各种各样<span class="title_2">关键字</span>(关键字一律用<span id="keyword_page">橙色</span>表示)。
                    在某一个关键字内人们可以发表和这个关键字有关的，气泡状的言论。你的任务是<strong>维护你感兴趣关键字内言论的稳定与和谐</strong>——帮助拥有正确言论的人们升入天堂，错误言论的人们进入地狱。一个人的<span class="title_3">生命值</span>(一律用<cite>绿色</cite>表示)越高就越接近天堂，反之就越接近地狱。
                    “天堂”“地狱”是针对关键字而言，每个关键字内都有一个“天堂”和“地狱”。
                  </p>
                </li>
                <li>
                  <p>你怎样才能使某人的生命值降低或提高呢？我们先来了解一下互相回应时人们的生命值如何变化。回应别人时（包括直接回应气泡状的发言，以及回应回应气泡状发言的发言），<strong>双方（你和你回应的言论的发表者）</strong>的生命值都可能改变——取决于你的选择：                  <%=radio_button_tag :rating,1 %>
                    <cite>支持
                    </cite>
                    <%=radio_button_tag :rating,0%>
                    不表态
                    <%=radio_button_tag :rating,-1%>
                    <strong>攻击
                    </strong>
                  </p>
                  <p>
                    可以按以下两种情况来理解生命值的变化情况：
                  </p>
                  <ul>
                    <li>
                      无论是哪一方回应对方，在选择<cite>支持</cite>时，生命值低者提高生命，提高的数值为二者生命值之差的绝对值的1/2，而生命值高者数值不变；
                    </li>
                    <li>
                      无论是哪一方回应对方，在选择<strong>攻击</strong>时，生命值低者降低双方生命值之差的绝对值，生命值高者数值不变。
                    </li>
                  </ul>
                  <p>除了互相回应以外，每多一个人关注自己，自己的生命值也会提高<cite>1点</cite>。想要更详细了解<cite>生命值</cite>如何计算，以及举例，请在上方输入“生命值算法”并点击“进入关键字”。</p>
                </li>
              </ol>
            </div>
          </div>
          <div class="tab"><span class="blue_tab"><%= link_to_unless_current "近期热门关键字",keyword_pages_path %></span>
            <% if logged_in? %>
              <span class="blue_tab"><%= link_to_unless_current "好友的动作" ,friends_keyword_pages_path%></span>
            <% end %>
            <p class="item_blue">
            </p>
          </div>
          <%= yield %>
        </div></div></div>
    <%= render :partial => "shared/footer" %>

  </body>
</html>
