<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="Mikl,Michael,Mikl.me,Michael网络,话题,声望,在线声望" name="keywords"/>
    <title>( Michael )</title>
    <%= javascript_include_tag :defaults,:cache => true  %>
    <%= stylesheet_link_tag "result"  %>
  </head>
  <body>
    <div id="sw_page">
      <div id="sw_hdr">
        <div class="sw_tb">
          <% if logged_in? %>
            <%= render :partial => "shared/keyword_page_header",:object => current_user %>
          <% else %>
            <%= render :partial => "shared/keyword_page_header"%>
          <% end %>
        </div>
      </div>
      <div id="sw_content">

        <div id="sw_canvas">
          <div id="sw_aside">
            <div id="sc_expPane">
              <div class="sw_menu" id="sw_rel">
                <div id="recent">
                  <%=render :partial => "recent_keyword_pages" %>
                </div>
              </div>
            </div>
          </div>
          <div id="content">

            <%   if flash[:notice].present?%>  <p class="notice"><%=flash[:notice] %></p>  <% end %>
            <%   if flash[:error].present?%> <p class="error"> <%=flash[:error]  %></p> <% end %>
            <div id="welcome">
              <%= render :partial => "shared/search_bar" %>
              <h2 class="title_1"><%= link_to "社会投票系统" %></h2>
              <dl>
                <dt><%= link_to_remote "阅读一些有益且必要的说明",:url => {:action => :toggle_blind,:id => "first"} %>，或者忽略介绍并毫无目的地体验、离开，由你选择</dt>
                <dd id="first" style="display:none">
                  <p>Michael是一个看上去简单，背后却极复杂的投票系统。简单来说，我们可以提出各种简短<span class="title_2">话题</span>
                    ——热门社会话题、大众生活话题、甚至个人偏好问题等等。结果是，我们能够看到，参与这一话题讨论的每个<span id="keyword_page">人(注意，不是他的某一句话或者观点)</span>的被认可程度。这个被认可程度用一个数字表示——<span class="title_3">声望</span>
                    。 如果一个人的声望高，也就意味着他的话更被别人认可，他的观点更能代表大众的看法，他更接近这一话题的意见领袖。
                  </p>
                  <dl>
                    <dt>浅尝辄止，或者<%= link_to_remote "了解更多",:url => {:action => :toggle_blind,:id => "second"} %>，由你选择。</h3>
                    </dt>
                    <dd id="second" style="display:none">
                      <p> 在上方的输入框中可以方便的进入某一话题，并且输入时还会自动提示类似的话题。
                        进入一个话题后，首先你会看到许多帖子，默认情况下帖子按照作者的<cite>声望值</cite>来排序。就像这样：
                        <%= image_tag "value.jpe"%>
                      </p>
                      <p>你在各话题内的声望互不影响，每一个你参与的话题，你都拥有独特的声望值。</p>
                      <p>声望值在你和别人互相回复帖子时，或是<strong>邀请朋友</strong>关注你时发生改变。邀请朋友关注你时，你在<strong>某话题内</strong>（取决于你把哪个话题内的邀请链接发送给朋友）的声望＋1，而回复别人时，这一话题内<strong>双方</strong>的声望都可能改变。在回复中你可以表明你的态度，这会对双方声望造成不同的影响：
                        <%=radio_button_tag :rating,1 %>
                        <cite>支持
                        </cite>
                        <%=radio_button_tag :rating,0%>
                        不表态
                        <%=radio_button_tag :rating,-1%>
                        <strong>反对
                        </strong>
                      </p>
                      <p>
                        现实中有这样一些现象：声望较高的人对某事的态度会产生更大的影响；一个人对另一个人的盛赞最多能使那个人变得和自己一样有名，而不是比自己更有名；
                        只有一个人否定另外一个人不会对他造成太恶劣的影响，而一群人否定一个人就会使他的声望受到很大影响；同时，一个很有名望的人否定一个普通人，对于普通人造成的影响也不容忽视。
                      </p>
                      <p>复杂就在这个地方，不过你只需要注意你的<cite>声望值</cite>结果就够了。</p>

                      <h3>开始体验，或者离开，由你选择。</h3>
                    </dd>
                  </dl>
                </dd>
              </dl>
              <div class="item_blue">
                <h2>我们来这样开始：</h2>
                <ol>
                  <li>
                    在一个话题
                    （譬如<%= link_to "互联网",keyword_page_path(KeywordPage.find_by_keyword("互联网")) %>）内，发个帖子，
                    并看看自己的帖子排在了哪里。由于你的<cite>声望</cite>为0，理应排在后面
                  </li>
                  <li>
                    以<%= link_to "互联网",keyword_page_path(KeywordPage.find_by_keyword("互联网")) %>
                    话题为例，在这个话题内，回复一个叫做 <%= link_to "Michael",user_path(User.find(1)) %>的人的某一个帖子，并在回复中选择
                    <cite>支持</cite>
                  </li>
                  <li>
                    再看看你原先发表的帖子排在了哪里，并理解一下Michael的按照<cite>声望</cite>排序的功能。
                  </li>
                </ol>
              </div>
            </div>
            <div class="tab"><span class="blue_tab"><%= link_to_unless_current "大家在说什么",keyword_pages_path %></span>
              <% if logged_in? %>
                <span class="blue_tab"><%= link_to_unless_current "好友在说什么" ,friends_keyword_pages_path%></span>
              <% end %>
              <p class="item_blue">
              </p>
            </div>
            <%= yield %>
          </div></div></div></div>
    <%= render :partial => "shared/footer" %>

  </body>
</html>
