<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>( Michael )</title>
    <%= stylesheet_link_tag 'default' %>
  </head>
  <body>
    <%= render :partial => "shared/header",:object => @user %>
    <div id="main">
      <div id="content">
        <% if flash[:notice] or flash[:error] %>
          <div id="notice">
            <%= flash[:error] or flash[:notice]%>
          </div>
        <% end %>
        <div id="sidebar">
          <div id="sidebar_top"></div>
          <div id="sidebar_text">
            <h2>
              个人信息：</h2>
            <p><%= render :partial => "shared/user_profile_full",:object => @user %></p>
            <h2>
              他在意的贴吧：</h2>
            <div>
              <% for k in @user.appear_keyword_pages %>
                <p>
                  <span class="keyword_page"><%=link_to k.keyword,keyword_page_path(KeywordPage.find_by_keyword(k.keyword)) %></span>
                  <cite>声望：<strong><%= k.field_value(@user) %></strong>,排名：<%= order(@user,k) %>
                  </cite>
                </p>
              <% end %>
            </div>
          </div>
          <div id="sidebar_bottom"></div>
        </div>
        <div id="text">
          <%= @content_for_layout %>
        </div>
      </div>
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>
