<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>( Michael )</title>
    <%= stylesheet_link_tag 'default' %>
  </head>
  <body>
    <div id="header">
      <div id="logo"><%= link_to @title,keyword_pages_path %></div>
      <div id="menu"></div>
    </div>
    <div id="main">
      <div id="content">
        <%= flash %>
        <%= @content_for_layout %>
      </div>
      <%=render :partial=>'shared/footer'%>
    </div>
  </body>
</html>
